<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sistema cacao</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

        <script src="{% static 'js/modernizr.min.js' %}"></script>

    </head>

    <body>

        <!-- Begin page -->
        <div class="accountbg" style="background: url({% static 'images/bg-login-23.jpg' %});background-size: cover;background-position: center;"></div>

        <div class="wrapper-page account-page-full">

            <div class="card">
                <div class="card-block">

                    <div class="account-box">

                        <div class="card-box p-5">
                            <h2 class="text-uppercase text-center pb-4">
                                <a href="/" class="text-success">
                                    <span><img src="{% static 'images/logo-01.png' %}" alt="" height="46"></span>
                                </a>
                            </h2>

                            <form method="post">{% csrf_token %}

                                <div class="form-group m-b-20 row">
                                    <div class="col-12">
                                        <label for="emailaddress">Nombre de usuario</label>
                                        <input id="id_username" name="username" type="text" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group row m-b-20">
                                    <div class="col-12">
                                        <label for="password">Contraseña</label>
                                        <input id="id_password" name="password" type="password" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row text-center m-t-10">
                                    <div class="col-12">
                                        <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Ingresar</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <span id="year">2018</span> © Realizado con <a href="https://www.djangoproject.com/">Django</a>
            </div>

        </div>
        <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
        </script>

        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>

    </body>
</html>
