{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsesombra").addClass('show');
$(".item4").addClass('active');
{% for value in years.values %}
    $(function () {
        // Create the chart
        $('#grafo1-{{forloop.counter}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Distribución de frecuencia'
            },
            subtitle: {
                text: 'Rangos alturas de árboles mt'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'frecuencia'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
            },

            series: [{
                name: 'Rangos',
                colorByPoint: true,
                data: [

                    {% for k, v in value.16.items %}
              {
                name: '{{k}}',
                y: {{ v }},
              },
        {% endfor %}

            ]
        }]
    });
});

    $(function () {
        // Create the chart
        $('#grafo2-{{forloop.counter}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Distribución de frecuencia'
            },
            subtitle: {
                text: 'Rangos diametros de árboles en cm'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'frecuencia'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
            },

            series: [{
                name: 'Rangos',
                colorByPoint: true,
                data: [

                    {% for k, v in value.17.items %}
              {
                name: '{{k}}',
                y: {{ v }},
              },
        {% endfor %}

            ]
        }]
    });
});
    $(function () {
        // Create the chart
        $('#grafo3-{{forloop.counter}}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Distribución de frecuencia'
            },
            subtitle: {
                text: 'Rangos ancho de copa de árboles en mt'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'frecuencia'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
            },

            series: [{
                name: 'Rangos',
                colorByPoint: true,
                data: [
                    {% for k, v in value.18.items %}
              {
                name: '{{k}}',
                y: {{ v }},
              },
        {% endfor %}
            ]
        }]
    });
});
{% endfor %}    
    $("select").addClass("form-control");
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Sombra</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Dimenciones de arboles de sombra</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-md-10">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-xl-6">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="staticEmail2">Tipo uso del árbol</label>
                                
                            </div>
                            <div class="form-group mx-sm-3">
                                <select class="form-control" id='select_rango' name='usos'>
                                    <option value=''>-------</option>
                                    <option value='1'>Leña</option>
                                    <option value='2'>Fruta</option>
                                    <option value='3'>Madera</option>
                                    <option value='4'>Sombra</option>
                                    <option value='5'>Nutrientes</option>
                                </select>
                            </div>

                            <input type="submit" value="Consultar" class="btn btn-primary mx-2" name="Consulta" />
                        </form>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div id="grafo1-{{forloop.counter}}" width='100%'></div>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group dato-grafico">
                                            <li class="list-group-item active">
                                                Alturas de los árboles en mt
                                            </li>
                                            <li class="list-group-item">
                                                <b>Promedio:</b> {{value.1|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Desviación estandar:</b> {{value.2|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Mediana: </b>{{value.3}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango mínimo:</b> {{value.4}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango máximo:</b> {{value.5}}
                                            </li>
                                        </ul>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xl-12 ">
                            <div class="card-box mb-20">

                                <div class="row">
                                    <div class="col-md-9">
                                        <div id="grafo2-{{forloop.counter}}" width='100%'></div>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group dato-grafico">
                                            <li class="list-group-item active">
                                                Diametros de árboles en cm
                                            </li>
                                            <li class="list-group-item">
                                                <b>Promedio:</b> {{value.6|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Desviación estandar:</b> {{value.7|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Mediana: </b>{{value.8}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango mínimo:</b> {{value.9}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango máximo:</b> {{value.10}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div id="grafo3-{{forloop.counter}}" width='100%'></div>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group dato-grafico">
                                            <li class="list-group-item active">
                                                Ancho de la copa de árboles en mt
                                            </li>
                                            <li class="list-group-item">
                                                <b>Promedio:</b> {{value.11|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Desviación estandar:</b> {{value.12|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Mediana: </b>{{value.13}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango mínimo:</b> {{value.14}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango máximo:</b> {{value.15}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            
        </div>
    </div>
</div>


{% endblock %}