{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsesombra").addClass('show');
$(".item1").addClass('active');
{% for value in years.values %}
$(function () {
    $('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Riqueza de árboles'
        },
        subtitle: {
            text: 'numero de especies en 2700 mt2'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Riqueza'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'riquezas',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.1 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos de riqueza de sombra en 2700 mt2'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
              {% for k,v in value.2.items %}
                {
                    name: '{{k}}',
                    y: {{v}},
                },
              {% endfor %}

            ]
        }]
    });
});
{% endfor %}
var pathname = window.location.pathname;
var arregloDeCadenas = pathname.split('/');

if (arregloDeCadenas[2]="sombra") {
    $( "#sombra" ).addClass( "in" );
    $( "#poda" ).removeClass( "in" );
}else if (arregloDeCadenas[2]="poda") {
    $( "#poda" ).addClass( "in" );
    $( "#sombra" ).removeClass( "in" );
};
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Sombra</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Riqueza</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
             {% include "menu_salidas_establecimiento.html" %}
            
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Número de parcelas</p>
                                                <h3 class="">{{value.0}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Promedio</p>
                                                <h3 class="">{{value.3|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Mediana</p>
                                                <h3 class="">{{value.4|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Desviación típica</p>
                                                <h3 class="">{{value.5|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Mínimo</p>
                                                <h3 class="">{{value.6|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Máximo</p>
                                                <h3 class="">{{value.7|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    
                        <div class="col-xl-6 ">
                            <div class="card-box mb-20">
                                
                                <div id="grafo1-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card-box mb-20">
                                
                                <div id="grafo2-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                {% endfor %}
            
        </div>
    </div>
</div>
{% endblock %}
