{% extends "base.html" %}

{% load tools static%}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsepoda").addClass('show');
$(".item13").addClass('active');
{% for value in years.values %}
$(function () {
    $('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Analisis de poda'
        },
        subtitle: {
            text: '% de frecuencia'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '% de conteo total'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Porcentaje: <b>{point.y:.1f} %</b>'
        },
        series: [{
            name: 'problema',
            data: [
              {% for k,v in value.1.items %}

                  ['{{k}}', {{v|calcular_frecuencia:value.0}}],

              {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#000000',
                align: 'right',
                format: '{point.y:.1f} %', // one decimal
                y: -40, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});
{% endfor %}
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_trans">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Poda</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Analisis de poda</h4>
                 
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "transformacion/menu_salidas.html" %}

        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <div id="grafo1-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <div class="table-responsive tabla-poda">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                            <th>Especies</th>
                                            <th>Total</th>
                                            <th>Porcentaje</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for k,v in value.1.items %}
                                            <tr>
                                            <th scope=row>{{k}}</th>
                                            <td>{{v}}</td>
                                            <td>{{v|calcular_frecuencia:value.0}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                    
                            </div>
                        </div>               
                    </div>
                </div>
                {% endfor %}
            

        </div>
    </div>
</div>

{% endblock content %}
