{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script>
$("#collapsecierre").addClass('show');
$(".item48").addClass('active');
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_trans">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Cierre</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Cierre costo y cosecha de musaceas</h4>
                 
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "transformacion/menu_salidas.html" %}

        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                                <li class="list-inline-item"><strong>Area total en Ha: </strong> <kbd>{{value.1|floatformat:2}}</kbd></li>
                                <li class="list-inline-item"><strong>Promedio de Valor de mano de obra por día en USD: </strong><kbd>{{value.2|floatformat:2}}</kbd></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Costo Consolidado Musaceas</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <caption>Costo Consolidado musaceas</caption>
                                            <thead>
                                                <tr>
                                                    <th>Actvidades</th>
                                                    <th>Uso de mano de obra familiar durante el ciclo (DP)</th>
                                                    <th>Uso de mano de obra contratada durante el ciclo (DP)</th>
                                                    <th>Costo de insumos en USD durante el ciclo </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k, v in value.3.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0|floatformat:2}}</td>
                                                        <td>{{v.1|floatformat:2}}</td>
                                                        <td>{{v.2|floatformat:2}}</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td>Total uso mano de obra</td>
                                                    <td>{{value.4|floatformat:2}}</td>
                                                    <td>{{value.5|floatformat:2}}</td>
                                                    <td>---</td>
                                                </tr>
                                                <tr>
                                                    <td>Totales USD</td>
                                                    <td>{{value.4|calcular_multiplicacion:value.2}}</td>
                                                    <td>{{value.5|calcular_multiplicacion:value.2}}</td>
                                                    <td>{{value.6|floatformat:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                               
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Cosecha consolidada Musaceas</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <caption>Cosecha consolidada musaceas</caption>
                                            <thead>
                                                <tr>
                                                    <th>Productos</th>
                                                    <th>Cantidad  producidas durante el ciclo en Kg </th>
                                                    <th>Promedio precio de productos en USD/Kg</th>
                                                    <th>Valor de la cosecha en USD</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in value.7.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0}}</td>
                                                        <td>{{v.1|floatformat:3}}</td>
                                                        <td>{{v.2|floatformat:3}}</td>
                                                    </tr>
                                                {% endfor %}
                                                    <tr>
                                                        <td>Total</td>
                                                        <td>{{value.8|calcular_suma:value.9}}</td>
                                                        <td>---</td>
                                                        <td>{{value.10|floatformat:2}}</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                          
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Costo-Beneficio Musaceas</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <caption>Costo-Beneficio Musaceas</caption>
                                            <thead>
                                                <tr>
                                                    <th>Datos</th>
                                                    <th>Unidad</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Número de parcelas</td>
                                                    <td>Número</td>
                                                    <td>{{value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Área total</td>
                                                    <td>Ha</td>
                                                    <td>{{value.1|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Promedio valor de MO</td>
                                                    <td>USD/día</td>
                                                    <td>{{value.2|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Suma de MO familiar</td>
                                                    <td>DP</td>
                                                    <td>{{value.4|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Suma de MO Contratado</td>
                                                    <td>DP</td>
                                                    <td>{{value.5|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Valor de MO familiar</td>
                                                    <td>USD</td>
                                                    <td>{{value.11|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Valor de MO contratado</td>
                                                    <td>USD</td>
                                                    <td>{{value.12|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Valor de insumos</td>
                                                    <td>USD</td>
                                                    <td>{{value.13|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Costo total de producción</td>
                                                    <td>USD</td>
                                                    <td>{{value.14|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Producción de Musaceas</td>
                                                    <td>Cabeza</td>
                                                    <td>{{value.15|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Productividad de Musaceas</td>
                                                    <td>Cabeza/ha</td>
                                                    <td>{{value.16|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Costo de producción unitario</td>
                                                    <td>USD/Cabeza</td>
                                                    <td>{{value.17|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ingreso bruto</td>
                                                    <td>USD</td>
                                                    <td>{{value.10|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ingreso neto</td>
                                                    <td>USD</td>
                                                    <td>{{value.18|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ingreso neto/ha</td>
                                                    <td>USD/ha</td>
                                                    <td>{{value.19|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Tasa de retorno</td>
                                                    <td>%</td>
                                                    <td>{{value.20|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ingreso neto parcial</td>
                                                    <td>USD</td>
                                                    <td>{{value.21|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Valor agregado de MO familiar</td>
                                                    <td>USD/DP</td>
                                                    <td>{{value.22|floatformat:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            

        </div>
    </div>
</div>

{% endblock content %}
