<div class="botonera">
    <a id="ancla" href="/transformacion/sombra/analisis/" class="btn btn-primary waves-light waves-effect custom-btn">Poda y sombra</a>
    <a href="/transformacion/plaga/historial/" class="btn btn-primary waves-light waves-effect custom-btn">Piso plagas y enfermedades</a>
    <a href="/transformacion/suelo/historial/"class="btn btn-primary waves-light waves-effect custom-btn">Suelo y fertilidad</a>
    <a href="/transformacion/cosecha/conversaciones/"class="btn btn-primary waves-light waves-effect custom-btn">Cosecha primaria</a>
    <a href="/transformacion/cosechasecundaria/mazorcas-sanas/"class="btn btn-primary waves-light waves-effect custom-btn">Cosecha secundaria</a>
    <a href="/transformacion/cierre/sombra/"class="btn btn-primary waves-light waves-effect custom-btn">Cierre de ciclo</a>
</div>
