<div class="accordion" id="accordionExample">
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsesombra" aria-expanded="true"
					aria-controls="collapsesombra">
					SOMBRA
				</a>
			</h2>
		</div>

		<div id="collapsesombra" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item1" href="/transformacion/sombra/analisis/">
                        Analisis
                    </a>

                    <a class="list-group-item item2" href="/transformacion/sombra/cobertura/">
                        Cobertura
                    </a>

                    <a class="list-group-item item3" href="/transformacion/sombra/riqueza/">
                        Riqueza
                    </a>

                    <a class="list-group-item item4" href="/transformacion/sombra/densidad/">
                        Densidad
                    </a>

                    <a class="list-group-item item5" href="/transformacion/sombra/acciones/">
                        Acciones
                    </a>

                    <a class="list-group-item item6" href="/transformacion/sombra/caracterizacion/">
                        Caracterización arboria de sombra
                    </a>

                    <a class="list-group-item item7" href="/transformacion/sombra/dominancia/">
                        Dominancia especie sombra
                    </a>

                    <a class="list-group-item item8" href="/transformacion/sombra/dimensiones/">
                        Dimenciones arboreas
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsepoda" aria-expanded="true"
					aria-controls="collapsepoda">
					PODA
				</a>
			</h2>
		</div>

		<div id="collapsepoda" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item9" href="/transformacion/poda/altura/">
                        Alturas de las plantas
                    </a>

                    <a class="list-group-item item10" href="/transformacion/poda/ancho-copa/">
                        Ancho de la copa
                    </a>

                    <a class="list-group-item item11" href="/transformacion/poda/produccion/">
                        Nivel de producción
                    </a>

                    <a class="list-group-item item12" href="/transformacion/poda/atributos/">
                        Atributos de los árboles
                    </a>

                    <a class="list-group-item item13" href="/transformacion/poda/analisis/">
                        Analisis de la poda
                    </a>

                    <a class="list-group-item item14" href="/transformacion/poda/tipos-poda/">
                        Tipos de poda
                    </a>

                    <a class="list-group-item item15" href="/transformacion/poda/acciones/">
                        Acciones de poda
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapseplaga" aria-expanded="true"
					aria-controls="collapseplaga">
					PLAGA
				</a>
			</h2>
		</div>

		<div id="collapseplaga" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item16" href="/transformacion/plaga/historial/">
                        Historial de plagas y enfermedades
                    </a>

                    <a class="list-group-item item17" href="/transformacion/plaga/acciones/">
                         Historial de acciones
                    </a>

                    <a class="list-group-item item18" href="/transformacion/plaga/fuente-incidencia/">
                        Incidencias
                    </a>

                    <a class="list-group-item item19" href="/transformacion/plaga/produccion/">
                        Producción y relacion plaga y rendimiento
                    </a>

                    <a class="list-group-item item20" href="/transformacion/plaga/analisis/">
                        Análisis:plaga
                    </a>

                    <a class="list-group-item item21" href="/transformacion/plaga/suelo/">
                       Análisis:suelo
                    </a>

                    <a class="list-group-item item22" href="/transformacion/plaga/acciones-manejo/">
                        Acciones para manejo de plaga
                    </a>

                    <a class="list-group-item item23" href="/transformacion/plaga/equipos-formacion/">
                        Equipos y formación
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsepiso" aria-expanded="true"
					aria-controls="collapsepiso">
					PISO
				</a>
			</h2>
		</div>

		<div id="collapsepiso" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item24" href="/transformacion/piso/estado/">
                       Historial del estado del piso
                    </a>

                    <a class="list-group-item item25" href="/transformacion/piso/manejo/">
                        Historial del manejo de piso
                    </a>

                    <a class="list-group-item item26" href="/transformacion/piso/orientacion/">
                        Composición del piso
                    </a>

                    <a class="list-group-item item27" href="/transformacion/piso/analisis/">
                       Análisis del piso
                    </a>

                    <a class="list-group-item item28" href="/transformacion/piso/suelo/">
                        Análisis de manejo
                    </a>

                    <a class="list-group-item item29" href="/transformacion/piso/propuesta/">
                       Propuesta de manejo
                    </a>

                    <a class="list-group-item item30" href="/transformacion/piso/equipo-formacion/">
                        Equipo y formación
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsesuelo" aria-expanded="true"
					aria-controls="collapsesuelo">
					SUELO
				</a>
			</h2>
		</div>

		<div id="collapsesuelo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item31" href="/transformacion/suelo/historial/">
                       Historial y limitaciones
                    </a>

                    <a class="list-group-item item32" href="/transformacion/suelo/erosion/">
                        indicador erosión
                    </a>

                    <a class="list-group-item item33" href="/transformacion/suelo/obras/">
                        Obras de conservación
                    </a>

                    <a class="list-group-item item34" href="/transformacion/suelo/indicador-drenaje/">
                       Indicador drenaje
                    </a>

                    <a class="list-group-item item35" href="/transformacion/suelo/obras-drenaje/">
                       Obras de drenaje
                    </a>

                    <a class="list-group-item item36" href="/transformacion/suelo/salud-raices/">
                       Salud raices
                    </a>

                    <a class="list-group-item item37" href="/transformacion/suelo/toma-desicion/">
                       Toma de desición
                    </a>

                    <a class="list-group-item item38" href="/transformacion/suelo/salidas/">
                       Pro. balance nutriente
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsecierre" aria-expanded="true"
					aria-controls="collapsecierre">
					CIERRE
				</a>
			</h2>
		</div>

		<div id="collapsecierre" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item39" href="/transformacion/cierre/sombra/">
                       Sombra
                    </a>

                    <a class="list-group-item item40" href="/transformacion/cierre/poda/">
                        Poda
                    </a>

                    <a class="list-group-item item41" href="/transformacion/cierre/suelo/">
                        Suelo
                    </a>

                    <a class="list-group-item item42" href="/transformacion/cierre/plaga/">
                       Plaga
                    </a>
                    <a class="list-group-item item43" href="/transformacion/cierre/piso/">
                       Piso
                    </a>
                    <a class="list-group-item item44" href="/transformacion/cierre/vivero/">
                       Vivero
                    </a>
                    <a class="list-group-item item45" href="/transformacion/cierre/cosecha/">
                       Cosecha
                    </a>
                    <a class="list-group-item item46" href="/transformacion/cierre/ciclo-trabajo/">
                       Ciclo de trabajo
                    </a>
                    <a class="list-group-item item47" href="/transformacion/cierre/costo/cacao/">
                       Costo cacao
                    </a>
                    <a class="list-group-item item48" href="/transformacion/cierre/costo/musaceas/">
                       Costo musaceas
                    </a>
                    <a class="list-group-item item49" href="/transformacion/cierre/costo/frutales/">
                       Costo frutales
                    </a>
                    <a class="list-group-item item50" href="/transformacion/cierre/costo/maderables/">
                       Costo maderables
                    </a>
                    <a class="list-group-item item51" href="/transformacion/cierre/costo/arboles/">
                       Costo arboles servicios
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapseprimaria" aria-expanded="true"
					aria-controls="collapseprimaria">
					COSECHA PRIMARIA
				</a>
			</h2>
		</div>

		<div id="collapseprimaria" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item52" href="/transformacion/cosecha/conversaciones/">
                       Conversación con productores
                    </a>

                    <a class="list-group-item item53" href="/transformacion/cosecha/mazorcas-sanas/">
                        Datos Mazorcas sanas
                    </a>

                    <a class="list-group-item item54" href="/transformacion/cosecha/mazorcas-enfermas/">
                        Datos Mazorcas enfermas
                    </a>

                    <a class="list-group-item item55" href="/transformacion/cosecha/mazorcas-danadas/">
                       Datos Mazorcas dañadas
                    </a>
                    <a class="list-group-item item56" href="/transformacion/cosecha/analisis/">
                       Análisis de cosecha
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsesecundaria" aria-expanded="true"
					aria-controls="collapsesecundaria">
					COSECHA SECUNDARIA
				</a>
			</h2>
		</div>

		<div id="collapsesecundaria" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item57" href="/transformacion/cosechasecundaria/mazorcas-sanas/">
                        Datos Mazorcas sanas
                    </a>

                    <a class="list-group-item item58" href="/transformacion/cosechasecundaria/mazorcas-enfermas/">
                        Datos Mazorcas enfermas
                    </a>

                    <a class="list-group-item item59" href="/transformacion/cosechasecundaria/mazorcas-danadas/">
                       Datos Mazorcas dañadas
                    </a>

                    <a class="list-group-item item60" href="/transformacion/cosechasecundaria/analisis/">
                       Análisis de cosecha
                    </a>
				</ul>
			</div>
		</div>
	</div>

</div>
