<form class="form-horizontal" action="." method="POST">{% csrf_token %}
	<div class="form-group">
		<div class="row">
			<div class="col-4">
				<label for="fecha">Fecha</label>
				{{form.fecha}}
			</div>
			<div class="col-4">
				<label for="municipio">Pais</label>
				{{form.pais}}
			</div>
			<div class="col-4">
				<label for="organizacion">Modelo</label>
				{{form.modelo}}
			</div>
		</div> 
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-4">
				<label for="comunidad">Tipo de manejo</label>
				{{form.manejo}}
			</div>
			<div class="col-4">
				<label for="pais">Tamaño de la parcela</label>
				{{form.parcela}}
			</div>
			<div class="col-4">
				<label for="sexo">Intensidad de manejo</label>
				{{form.intensidad}}
			</div>
		</div> 
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-4">
				<label for="departamento">Riego</label>
				{{form.riego}}
			</div>
			<div class="col-4">
				<label for="productor">sexo</label>
				{{form.sexo}}
			</div>
			<div class="col-4">
				<label for="departamento">Tipo SAF</label>
				{{form.saf}}
			</div>
		</div> 
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-4">
				<label for="departamento">Valoración de suelo</label>
				{{form.valoracion}}
			</div>
			{% if request.user.is_authenticated %}
			<div class="col-4">
				<label for="productor">Productor</label>
				{{form.productor}}
			</div>
			{% endif %}
		</div> 
	</div>
	<div class="">
		<input type="submit" value="Consultar" id="boton" class="btn btn-success"/>
	</div>
</form>
