<ol class="breadcrumb hide-phone p-0 m-0">
  <li class="breadcrumb-item">Filtros Seleccionados: </li>
    {%if num_familias%}
        <li class="breadcrumb-item"><b>Familias:</b>{{num_familias}}</li>
    {%endif%}
    {%if request.session.fecha%}
    <li class="breadcrumb-item"><b>Año:</b>{%for x in request.session.fecha%} {{x}}{% if forloop.last%}{%else%},{%endif%} {%endfor%}</li>
    {%endif%}
    {%if request.session.pais%}
    <li class="breadcrumb-item"><b>pais:</b> {{request.session.pais}}</li>
    {%endif%}
    {%if request.session.parcela%}
    <li class="breadcrumb-item"><b>Parcela:</b> {% if request.session.parcela == '1' %}Pequeña (0.1 a 2 mz){%elif request.session.parcela == '2'%}Mediana (2.1 a 5 mz){% else %}Grande (Más de 5 mz){%endif%}</li>
    {%endif%}
    {%if request.session.riego%}
    <li class="breadcrumb-item"><b>Riego:</b> {% if request.session.riego == '1' %}No hay riego{%elif request.session.riego == '2'%}Riego de baja intensidad{% else %}Riego de alta intensidad{%endif%}</li>
    {%endif%}
    {%if request.session.saf%}
    <li class="breadcrumb-item"><b>SAF:</b> {% if request.session.saf == '1' %}SAF Cacao Sencillo{%elif request.session.saf == '2'%}SAF Cacao Diversificado{%elif request.session.saf == '3'%}SAF Cacao + Café Sencillo{% else %}SAF Cacao + Café Diversificado{%endif%}</li>
    {%endif%}
    {%if request.session.valoracion%}
    <li class="breadcrumb-item"><b>Valoración:</b> {% if request.session.valoracion == '1' %}Óptimo{%elif request.session.valoracion == '2'%}Medio óptimo{% else %}No óptimo{%endif%}</li>
    {%endif%}
    {%if request.session.manejo%}
    <li class="breadcrumb-item"><b>Tipo manejo:</b> {% if request.session.manejo == '1' %}Orgánico{%elif request.session.manejo == '2'%}Orgánico-químico{% else %}Químico{%endif%}</li>
    {%endif%}
    {%if request.session.intensidad%}
    <li class="breadcrumb-item"><b>Intensidad:</b> {% if request.session.intensidad == '1' %}No intensivo{%elif request.session.intensidad == '2'%}Medio intensivo{% else %}Intensivo{%endif%}</li>
    {%endif%}
    {%if request.session.sexo%}
    <li class="breadcrumb-item"><b>Sexo:</b>{%if request.session.sexo == '1'%}Mujer{%else%}Hombre{%endif%}</li>
    {%endif%}
</ol>
