{% extends "base.html" %}

{% load tools %}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-rentabilidad' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Rentabilidad</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Ingresos de parcelas</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "rentabilidad/menu_salidas_rentabilidad.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "rentabilidad/filtros.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title">Ingreso bruto proyectado USD/ha por año</h4>
                        <ul class="list-inline mb-20">
                            <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{numero_total_parcela}}</kbd></li>
                            <li class="list-inline-item"><strong>Areas de las parcelas (ha) total: </strong> <kbd>{{promedio_areas|floatformat:2}}</kbd></li>
                        </ul>
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th>Ingreso neto</th>
                                            <th>Frecuencia</th>
                                            <th>Promedio</th>
                                            <th>Mediana</th>
                                            <th>Minimo</th>
                                            <th>Maximo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k,v  in ingresos.items %}
                                    <tr>
                                        <td>{{k}}</td>
                                            <td>{{v.0}}</td>
                                            <td>{{v.1|floatformat:2}}</td>
                                            <td>{{v.2|floatformat:2}}</td>
                                            <td>{{v.3|floatformat:2}}</td>
                                            <td>{{v.4|floatformat:2}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $("#collapsefamilia").addClass('show');
    $(".item4").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
</script>
{% endblock extra_js %}
