<div class="accordion" id="accordionExample">
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsefamilia" aria-expanded="true"
					aria-controls="collapsefamilia">
					RENTABILIDAD
				</a>
			</h2>
		</div>

		<div id="collapsefamilia" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
                    <a class="list-group-item item1" href="/rentabilidad/descripcion/" >Descripcion de muestras</a>
                    <a class="list-group-item item2" href="/rentabilidad/parcela/" >Diseño de parcelas</a>
                    <a class="list-group-item item3" href="/rentabilidad/costos/">Costo</a>
                    <a class="list-group-item item4" href="/rentabilidad/ingresos/">Ingresos</a>
                    <a class="list-group-item item5" href="/rentabilidad/modelado/"> Modelo de estimado de rentabilidad</a>
                    <a class="list-group-item item6" href="/rentabilidad/rentabilidad/">Rentabilidad SAF</a>
				</ul>
			</div>
		</div>
	</div>
</div>