{% extends "base.html" %}

{% load tools %}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-rentabilidad' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Rentabilidad</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Descripcion de muestras</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "rentabilidad/menu_salidas_rentabilidad.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "rentabilidad/filtros.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">1. Ubicación</h4>
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th>Pais</th>
                                            <th>Departamento</th>
                                            <th>Municipio</th>
                                            <th># Hombres</th>
                                            <th># Mujeres</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for v in ubicacion %}
                                        <tr>
                                            <td>{{v.0}}</td>
                                            <td>{{v.1}}</td>
                                            <td>{{v.2}}</td>
                                            <td>{{v.3}}</td>
                                            <td>{{v.4}}</td>
                                            <td>{{v.5}}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>TOTAL</td>
                                            <td>-----</td>
                                            <td>---</td>
                                            <td>{{hombres_totales}}</td>
                                            <td>{{mujeres_totales}}</td>
                                            <td>{{suma_totales}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        {% for obj in parcela_lista %}
                            {{obj.total}}
                        {% endfor %}
                        <h4 class="header-title mb-4">2. Caracteristicas</h4>
                        <ul class="nav nav-pills navtab-bg nav-justified pull-in" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="parcela-tab" data-toggle="tab" href="#parcela" role="tab" aria-controls="parcela" aria-selected="true">Tamaño de parcela</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="riego-tab" data-toggle="tab" href="#riego" role="tab" aria-controls="riego" aria-selected="false">Riego</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="valoracion-tab" data-toggle="tab" href="#valoracion" role="tab" aria-controls="valoracion" aria-selected="false">Valoración de suelo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="manejo-tab" data-toggle="tab" href="#manejo" role="tab" aria-controls="manejo" aria-selected="false">Tipo de manejo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="intensidad-tab" data-toggle="tab" href="#intensidad" role="tab" aria-controls="intensidad" aria-selected="false">Intensidad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pendiente-tab" data-toggle="tab" href="#pendiente" role="tab" aria-controls="pendiente" aria-selected="false">Pendiente</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="saf-tab" data-toggle="tab" href="#saf" role="tab" aria-controls="saf" aria-selected="false">SAF</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="descripcion-tab" data-toggle="tab" href="#descripcion" role="tab" aria-controls="descripcion" aria-selected="false">Descripción SAF</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="parcela" role="tabpanel" aria-labelledby="parcela-tab">
                                <div class="col-12">
                                    <div id="container"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="riego" role="tabpanel" aria-labelledby="riego-tab">
                                <div class="col-12">
                                    <div id="container1"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="valoracion" role="tabpanel" aria-labelledby="valoracion-tab">
                                <div class="col-12">
                                    <div id="container2"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="manejo" role="tabpanel" aria-labelledby="manejo-tab">
                                <div class="col-12">
                                    <div id="container3"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="intensidad" role="tabpanel" aria-labelledby="intensidad-tab">
                                <div class="col-12">
                                    <div id="container4"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pendiente" role="tabpanel" aria-labelledby="pendiente-tab">
                                <div class="col-12">
                                    <div id="container5"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="saf" role="tabpanel" aria-labelledby="saf-tab">
                                <div class="col-12">
                                    <div id="container6"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="descripcion" role="tabpanel" aria-labelledby="descripcion-tab">
                                <div class="col-12">
                                    <div id="container7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script type="text/javascript">
    $("#collapsefamilia").addClass('show');
    $(".item1").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>
<script type="text/javascript">
    Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.1 Tamaño de las parcelas'
    },
    xAxis: {
        categories: [{% for obj in parcela_lista %} "{{obj.tamanio|tamanio}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for obj in parcela_lista %} {{obj.total}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.2 Riego'
    },
    xAxis: {
        categories: [{% for obj in riego%} "{{obj.riego|riego}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for v in riego%} {{v.total}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container2', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.3 Valoración de suelo'
    },
    xAxis: {
        categories: [{% for k in valoracion%} "{{k.valoracion|valoracion}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for v in valoracion%} {{v.total}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container3', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.4 Tipo de manejo'
    },
    xAxis: {
        categories: [{% for k in manejo%} "{{k.manejo|manejo}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for v in manejo%} {{v.total}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container4', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.5 Intensidad de manejo'
    },
    xAxis: {
        categories: [{% for k in intensidad%} "{{k.intensidad|intensidad}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for v in intensidad%} {{v.total}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container5', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.6 Pendiente'
    },
    xAxis: {
        categories: [{% for k in pendiente%} "{{k.pendiente|pendiente}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for v in pendiente%} {{v.total}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container6', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.7 Tipo de SAF'
    },
    xAxis: {
        categories: [{% for k in tipo_saf%} "{{k.tipo_sistema|tiposaf}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for v in tipo_saf%} {{v.total}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
<script type="text/javascript">
    Highcharts.chart('container7', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '2.8 Descripción SAF'
    },
    xAxis: {
        categories: [{% for k in descripcion_saf%} "{{k.descripcion|descripcionsaf}}" {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo'
        }
    },
    legend: {
        reversed: false
    },
    plotOptions: {
        series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                //rotation:45,
                formatter: function() {
                    return this.y + ' -- ' + '(' + ((this.y/{{num_familias}}) * 100).toFixed(0) + ' %' + ')';
                                      },
            }
        }
    },
    series: [{
        data: [{% for v in descripcion_saf%} {{v.total}} {% if forloop.last%}{%else%},{%endif%} {%endfor%}]
    },
    ]
});
</script>
{% endblock extra_js %}
