{% extends "base.html" %}

{% load tools static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group float-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item">
                        <a href="/">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">cierre</a>
                    </li>
                </ol>
            </div>
            <h4 class="page-title">SubIndicador: Calculos Costos</h4>
        </div>
    </div>
</div>

    <div class="card-box">
        <ol class="breadcrumb">
            <li class="active">Cierre</li>
            <li class="active">Calculos costos</li>
            <li class="active">Número de parcelas: {{numero_parcelas}}</li>
        </ol>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    {% include "transformacion/menu_salidas.html" %}
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="panel panel-default panel-graficos">
                        <div class="panel-heading  borde">

                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <br>
                                        <div class="text-center" >
                                            <button class="btn btn-primary" type="button">
                                                Costo de mano de obra C$/día <span class="badge">{{costo_mano_obra|floatformat:2}}</span>
                                            </button>
                                            <button class="btn btn-primary" type="button">
                                                Area (mz) <span class="badge">{{area_mz|floatformat:2}}</span>
                                            </button>
                                        </div>
                                        <div class="table-responsive tabla-poda">
                                            <table class="table table-bordered table-striped">
                                                <caption>Costos</caption>
                                                <thead>
                                                    <tr>
                                                        <th>Actividad</th>
                                                        <th>DH Familiar</th>
                                                        <th>DH Contratada</th>
                                                        <th>Costos de insumos en C$</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for k,v in dict_actividades.items %}
                                                    <tr>
                                                        <th scope=row>{{k}}</th>
                                                        <td>{{v.0|floatformat:2|default:0}}</td>
                                                        <td>{{v.1|floatformat:2|default:0}}</td>
                                                        <td>{{v.2|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <th><strong>SUMA TOTAL </strong></th>
                                                        <td><strong>{{suma_familiar|floatformat:2}}</strong></td>
                                                        <td><strong>{{suma_contradata|floatformat:2}}</strong></td>
                                                        <td><strong>{{suma_costo|floatformat:2}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive tabla-poda">
                                            <table class="table table-bordered table-striped">
                                                <caption>Tabla baba y grano seco rojo</caption>
                                                <thead>
                                                    <tr>
                                                        <th>Tipo</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Cosecha qq baba</th>
                                                        <td>{{cosecha_baba|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Venta qq baba</td>
                                                        <td>{{venta_baba|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Precio de venta qq baba</th>
                                                        <td>{{precio_baba|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cosecha qq grano rojo</td>
                                                        <td>{{cosecha_rojo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Venta qq grano rojo</td>
                                                        <td>{{venta_rojo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Consumo qq grano rojo</td>
                                                        <td>{{consumo_rojo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Precio de venta qq grano rojo</td>
                                                        <td>{{precio_rojo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive tabla-poda">
                                            <table class="table table-bordered table-striped">
                                                <caption>Tabla consolidados</caption>
                                                <thead>
                                                    <tr>
                                                        <th>Tipo</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Área (manzana)</th>
                                                        <td>{{area_mz|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Suma de mano de obra familiar</td>
                                                        <td>{{suma_familiar|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Suma de mano de obra contratada</th>
                                                        <td>{{suma_contradata|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Costo de  insumos </td>
                                                        <td>{{suma_costo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Valor de jornal</td>
                                                        <td>{{costo_mano_obra|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gasto Mano de obra familiar</td>
                                                        <td>{{gasto_mo_familiar|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gasto Mano de obra contratada</td>
                                                        <td>{{gasto_mo_contratada|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gastos en efectivo</td>
                                                        <td>{{gasto_efectivo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Costo de Producción</td>
                                                        <td>{{costo_produccion|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cosecha qq baba</td>
                                                        <td>{{cosecha_baba|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cantidad Vendido qq baba</td>
                                                        <td>{{venta_baba|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Precio  (C$ por qq baba)</td>
                                                        <td>{{precio_baba|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cosecha qq grano rojo</td>
                                                        <td>{{cosecha_rojo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cantidad Vendido qq grano rojo</td>
                                                        <td>{{venta_rojo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Consumo qq grano rojo</td>
                                                        <td>{{consumo_rojo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Precio  (C$ por qq grano rojo)</td>
                                                        <td>{{precio_rojo|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ingreso por venta (C$)</td>
                                                        <td>{{ingreso_venta|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Valor Consumo familiar (C$)</td>
                                                        <td>{{consumo_familiar|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ingreso bruto</td>
                                                        <td>{{ingreso_bruto|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ingreso neto parcial</td>
                                                        <td>{{ingreso_neto_parcial|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Retorno de MO familiar</td>
                                                        <td>{{retorno_mo_familiar|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ingreso Neto</td>
                                                        <td>{{ingreso_neto|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tasa de retorno (%) por ciclo</td>
                                                        <td>{{tasa_retorno_ciclo|floatformat:2|default:0}} %</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Inversión/mz</td>
                                                        <td>{{inversion_mz|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ingreso neto/mz</td>
                                                        <td>{{ingreso_neto_mz|floatformat:2|default:0}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Costo de qq baba</td>
                                                        <td>{{costo_qq_baba|floatformat:2|default:0}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

    </div>

{% endblock content %}
