#cosechasecundariapunto1_set-group  input {
    width: 70px;
}

#cosechasecundariapunto2_set-group input {
    width: 70px;
}

#cosechasecundariapunto3_set-group input {
    width: 70px;
}

#cosechapunto1_set-group input {
    width: 70px;
}

#cosechapunto2_set-group input {
    width: 70px;
}

#cosechapunto3_set-group input {
    width: 70px;
}
