.shadow-c {
    -webkit-box-shadow: -0.25rem 0.125rem 0.5rem rgba(0,0,0,0.075);
    -moz-box-shadow: -.25rem .125rem .5rem rgba(0,0,0,0.075);
    box-shadow: inset -0.25rem 0.125rem 0.5rem rgba(0,0,0,0.075);
}
