{% extends "base.html" %}

{% load solo_tags %}

{% block content %}
{% get_solo 'configuracion.SiteConfiguration' as site_config %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-establecimiento' %}">Consultar</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">CONSULTAR</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mb-40">
                <div class="row">
                    <div class="col-lg-4 card-box shadow-c">

                        {%if centinela == 1 %}
                        <h4 class="header-title mb-0">Seleccione el Indicador: Estados de las fincas</h4>
                        <hr>
                        {% include "lineaBase/menu.html" %}
                        {% else %}
                        <h4 class="header-title mb-0">Estados de las fincas cacaoteras</h4>
                        <hr>
                        {% if  site_config.texto_datos_generales %}
                            <p>{{site_config.texto_datos_generales|safe}}</p>
                        {% else %}
                            <p>Aun sin texto</p>
                        {% endif %}

                        {%endif%}

                    </div>
                    <div class="col-lg-8 card-box">
                        <h4 class="header-title mb-4">Formulario de consulta</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form action="." method="POST">{% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="fecha">Fecha</label>
                                            {{form.fecha}}
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="municipio">Municipio</label>
                                            {{form.municipio}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="organizacion">Organización</label>
                                            {{form.organizacion}}
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="comunidad">Comunidad</label>
                                            {{form.comunidad}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="pais">Pais</label>
                                            {{form.pais}}
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="sexo">Sexo</label>
                                            {{form.sexo}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="departamento">Departamento</label>
                                            {{form.departamento}}
                                        </div>
                                        {% if request.user.is_authenticated %}
                                        <div class="col-sm-6">
                                            <label for="productor">Productor</label>
                                            {{form.productor}}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Consultar" id="boton" class="btn btn-success center-block" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        // Select2
        $(".select2").select2();
    });

    $("#id_productor").autocomplete({
        source: '{% url "productor-search"%}',
        minLength: 2,
    });

    $('.botonera').slideDown('slow');

    $("#id_pais").change(function () {
        var url = '/linea-base/ajax/load-departamentos/'
        var paisId = $("#id_pais").val();

        $.ajax({
            url: url,
            data: {
                'pais': paisId
            },
            success: function (data) {
                $("#id_departamento").html(data);
            }
        });
    });

    $("#id_departamento").change(function () {
        var url = '/linea-base/ajax/load-municipios/'
        var departamentoId = $("#id_departamento").val();

        $.ajax({
            url: url,
            data: {
                'departamento': departamentoId
            },
            success: function (data) {
                $("#id_municipio").html(data);
            }
        });
    });

    $("#id_municipio").change(function () {
        var url = '/linea-base/ajax/load-comunidad/'
        var municipioId = $("#id_municipio").val();

        $.ajax({
            url: url,
            data: {
                'municipio': municipioId
            },
            success: function (data) {
                $("#id_comunidad").html(data);
            }
        });
    });

</script>
{% endblock extra_js %}
