<div class="botonera">
        <a id="ancla" href="/linea-base/organizacion/" class="btn btn-success waves-light waves-effect espacio">Familias</a>
        <a href="/linea-base/tierra/" class="btn btn-success waves-light waves-effect espacio">Tierra</a>
        <a href="/linea-base/areas/"class="btn btn-success waves-light waves-effect espacio">Area y Factores</a>
        <a href="/linea-base/produccion/"class="btn btn-success waves-light waves-effect espacio">Viveros</a>
        <a href="/linea-base/manejo_poda/"class="btn btn-success waves-light waves-effect espacio">Manejo de cacaotales</a>
        <a href="/linea-base/agroecologicas/"class="btn btn-success waves-light waves-effect espacio">Opcion agroecológicas</a>
        <a href="/linea-base/cosecha/"class="btn btn-success waves-light waves-effect espacio">Cosecha</a>
        <a href="/linea-base/comercializacion/" class="btn btn-success waves-light waves-effect espacio">La comercialización</a>
        <a href="/linea-base/credito/" class="btn btn-success waves-light waves-effect espacio">Crédito</a>
        <a href="/linea-base/mitigacion/" class="btn btn-success waves-light waves-effect espacio">Mitigación de los riesgos</a>
        <a href="/linea-base/tecnicas/" class="btn btn-success waves-light waves-effect espacio">Capacitaciones</a>
        <a href="/linea-base/detalles_conteo_parcela/" class="btn btn-success waves-light waves-effect espacio">Detalles plantios de cacao</a>
</div>

<!-- <div class="botonera">
<div class="card-box">
<div class="page-title" >Seleccione el Indicador: Establecimientos</div>
    <hr>
        <a id="ancla" href="/cuaderno-mes-nueve/sombra/riqueza-sombra/" class="btn btn-primary waves-light waves-effect custom-btn">Sombra</a>
        <a href="/cuaderno-mes-seis/piso/composicion-piso/" class="btn btn-primary waves-light waves-effect custom-btn">Piso</a>
        <a href="/cuaderno-mes-tres/suelo/historial-suelo/"class="btn btn-primary waves-light waves-effect custom-btn">Suelo</a>
        <a href="/cuaderno-mes-cero/sistema/parcela-sistema/"class="btn btn-primary waves-light waves-effect custom-btn">Sistema</a>
        <a href="/cuaderno-mes-tres/esta/establecimientos-exito/"class="btn btn-primary waves-light waves-effect custom-btn">Establecimientos</a>
        <a href="/cuaderno-mes-seis/estado/estado-cacao/"class="btn btn-primary waves-light waves-effect custom-btn">Estado de plantas</a>
        <a href="/cuaderno-mes-tres/costo/cacao/"class="btn btn-primary waves-light waves-effect custom-btn">Costo y Cosecha</a>
</div>
</div>
-->
