<div class="botonera">
    <a id="ancla" href="/cuaderno-mes-nueve/sombra/riqueza-sombra/" class="btn btn-primary waves-light waves-effect custom-btn">Sombra</a>
    <a href="/cuaderno-mes-seis/piso/composicion-piso/" class="btn btn-primary waves-light waves-effect custom-btn">Piso</a>
    <a href="/cuaderno-mes-tres/suelo/historial-suelo/"class="btn btn-primary waves-light waves-effect custom-btn">Suelo</a>
    <a href="/cuaderno-mes-cero/sistema/parcela-sistema/"class="btn btn-primary waves-light waves-effect custom-btn">Sistema</a>
    <a href="/cuaderno-mes-tres/esta/establecimientos-exito/"class="btn btn-primary waves-light waves-effect custom-btn">Establecimientos</a>
    <a href="/cuaderno-mes-seis/estado/estado-cacao/"class="btn btn-primary waves-light waves-effect custom-btn">Estado de plantas</a>
    <a href="/cuaderno-mes-tres/costo/cacao/"class="btn btn-primary waves-light waves-effect custom-btn">Costo y Cosecha</a>
</div>

