{% extends "base.html" %}

{% load solo_tags %}

{% block extra_js %}
{% endblock extra_js %}

{% block content %}
{% get_solo 'configuracion.SiteConfiguration' as my_config %}
    <div class="fondoindex">
    <div class="container-fluid pt-80 pb-30">

        <div class="card-box widget-chart-two white-transparent">
            <div class="row">

                <div class="col-xl-12">
                    {{my_config.texto_practicas_cci|safe}}

                </div>
                <div class="col-xl-4">
                </div>
                <div class="boton-ir col-xl-4">
                    <a href="https://practicascci.alianza-cac.net/" target="_blank" class="card text-white monitoreo_plan mb-20">
                        <div class="card-body">
                            <h5 class="text-center">Ver mapas de aptitud, gradiente y practicas</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                </div>


            </div>
        </div>
    </div> <!-- end container -->
</div>
{% endblock content %}
