{% extends "base.html" %}

{% load static solo_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/tooltipster/tooltipster.bundle.min.css' %}"/>
<link href="{% static 'plugins/custombox/css/custombox.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
<script>
$('.owl-carousel').owlCarousel({
    loop:false,
    margin:20,
    nav:false,
	autoplay:true,
	autoplayTimeout:5000,
	autoplayHoverPause:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:5
        },
        1000:{
            items:7
        }
    }
});
 $(document).ready(function() {
	$('.tool').tooltipster();
});
</script>
<script type="text/javascript" src="{% static 'js/tooltipster/tooltipster.bundle.min.js' %}"></script>
<!-- Modal-Effect -->
<script src="{% static 'plugins/custombox/js/custombox.min.js' %}"></script>
<script src="{% static 'plugins/custombox/js/legacy.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('.patrones').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 3,
    variableWidth: true,
    autoplay: true,
    autoplaySpeed: 2000,
  });
});
</script>

{% endblock extra_js %}

{% block content %}
{% get_solo 'configuracion.SiteConfiguration' as site_config %}
<div class="fondoindex">
  	<div class="container-fluid pt-80 pb-30">

		<div class="card-box widget-chart-two white-transparent">
      		<div class="row mb-20">

            	<div class="col-xl-8">
                  <h4 class="mb-3 ">Sistema Climaticamente Inteligente <a href="#"></a></h4>
                  {% if  site_config.texto_sistema%}
                        <p>
                        {{site_config.texto_sistema|safe}}
                    </p>
                    {% else %}
                        <p>Aun no existe el texto.</p>
                    {% endif %}
				</div>
				<div class="col-xl-4">
					<h4 class="mb-3 ">Consultar Herramientas <a href="#"></a></h4>
					<a href="/linea-base/consultar/" class="card text-white estado_finca mb-20">
						<div class="card-body">
							<h5>Estados de las fincas cacaoteras
								<span class="badge badge-light badge-pill tool" title="{{site_config.generales_resumen}}">
									<span class="fa fa-question fa-lg" aria-hidden="true"></span>
								</span>
							</h5>
						</div>
					</a>
					<a href="/linea-base/consultar-establecimiento/" class="card text-white monitoreo_estable mb-20">
						<div class="card-body">
							<h5>Monitoreo de parcelas saf establecimiento
								<span class="badge badge-light badge-pill tool" title="{{site_config.establecimiento_resumen}}">
									<span class="fa fa-question fa-lg" aria-hidden="true"></span>
								</span>
							</h5>
						</div>
					</a>
					<a href="/transformacion/consultar-transformacion/" class="card text-white monitoreo_trans mb-20">
						<div class="card-body">
							<h5>Monitoreo de parcelas saf transformación
								<span class="badge badge-light badge-pill tool" title="{{site_config.transformacion_resumen}}">
									<span class="fa fa-question fa-lg" aria-hidden="true"></span>
								</span>
							</h5>
						</div>
					</a>
					<a href="/rentabilidad/consultar-rentabilidad/" class="card text-white monitoreo_reta mb-20">
						<div class="card-body">
							<h5>Rentabilidad de sistemas agroforestales
								<span class="badge badge-light badge-pill tool" title="{{site_config.rentabilidad_resumen}}">
									<span class="fa fa-question fa-lg" aria-hidden="true"></span>
								</span>
							</h5>
						</div>
					</a>
					<a href="/linea-base/acerca-practicas/" class="card text-white monitoreo_plan mb-20">
						<div class="card-body">
							<h5>Aptitud, gradiente y practicas
									<span class="badge badge-light badge-pill tool" title="{{site_config.practicas_resumen}}">
										<span class="fa fa-question fa-lg" aria-hidden="true"></span>
									</span>
							</h5>
						</div>
					</a>
					<!-- <a href="#" class="card text-white monitoreo_otro mb-20">
						<div class="card-body">
							<h5>En construcción
								<span class="badge badge-light badge-pill tool" title="{{site_config.otro_resumen}}">
									<span class="fa fa-question fa-lg" aria-hidden="true"></span>
								</span>

							</h5>
						</div>
					</a> -->


				</div>

          	</div>
			{% get_solo 'configuracion.SiteConfiguration' as site_config %}
			<div class="row mb-30">
				<div class="col-lg-12">
					<h4 class="mb-3 ">Con apoyo de:<a href="#"></a></h4>
				</div>
				<div class="col-lg-12">
					<div class="owl-carousel owl-theme">
						{% for logos_apoyo in site_config.logosapoyo_set.all %}
							<div class="logo-list bg-white pad-10">
								<div class="row">
									<div class="col-lg-12">
										<a target="_blank" rel="noopener noreferrer" href="{% if logos_apoyo.web %}{{logos_apoyo.web}} {%else%}#{%endif%}">
											<img class="mx-auto d-block" src="/media/{{logos_apoyo.logo}}" >
										</a>
									</div>
								</div>

							</div>
						{% endfor %}
					</div>
				</div>
			</div>
            {% if  site_config.usuariosplataforma_set.all %}
			<div class="row">
				<div class="col-lg-12">
					<h4 class="mb-3 ">Con financiamiento de:<a href="#"></a></h4>
				</div>
				<div class="col-lg-12">
					<div class="owl-carousel owl-theme">
						{% for usuarios_plataforma in site_config.usuariosplataforma_set.all %}
							<div class="logo-list bg-white pad-10">
								<div class="row">
									<div class="col-lg-12">
										<a target="_blank" rel="noopener noreferrer" href="{% if usuarios_plataforma.web %}{{usuarios_plataforma.web}} {%else%}#{%endif%}">
											<img class="mx-auto d-block" src="/media/{{usuarios_plataforma.logo}}" >
										</a>
									</div>
								</div>

							</div>
						{% endfor %}

					</div>
				</div>
			</div> <!-- end row -->
              {% endif %}
      	</div>
	</div> <!-- end container -->
	<style>

	</style>

	<div class="container-fluid list-logos pb-40">

	</div>
</div>



<div id="custom-modal" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title">Explicacion de model</h4>
            <div class="custom-modal-text">
               <p>Lorem ipsub</p>
            </div>
        </div>
{% endblock content %}
