
<div class="accordion" id="accordionExample">
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsefamilia" aria-expanded="true"
					aria-controls="collapsefamilia">
					FAMILIA
				</a>
			</h2>
		</div>

		<div id="collapsefamilia" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item1" href="/linea-base/organizacion/">Organización</a>
					<a class="list-group-item item2" href="/linea-base/composicion/">Composición familiar</a>
					<a class="list-group-item item3" href="/linea-base/servicios/">Servicios básicos</a>
					<a class="list-group-item item4" href="/linea-base/tenencia/">Tenencia de la tierra</a>
					<a class="list-group-item item5" href="/linea-base/seguridad/">Seguridad alimentaria</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsetierra" aria-expanded="true"
					aria-controls="collapsetierra">
					TIERRA
				</a>
			</h2>
		</div>

		<div id="collapsetierra" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a  class="list-group-item item6" href="/linea-base/tierra/" class="educacion">Uso de tierra</a>
					<a  class="list-group-item item7" href="/linea-base/rubros/" class="salud">Rubros en la finca</a>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsearea" aria-expanded="true"
					aria-controls="collapsearea">
					AREA Y FACTORES
				</a>
			</h2>
		</div>

		<div id="collapsearea" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item8" href="/linea-base/areas/">
						Area y Factores
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapseviveros" aria-expanded="true"
					aria-controls="collapseviveros">
					VIVEROS
				</a>
			</h2>
		</div>

		<div id="collapseviveros" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item9" href="/linea-base/produccion/">Viveros</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsemanejo" aria-expanded="true"
					aria-controls="collapsemanejo">
					MANEJO DE CACAOTALES
				</a>
			</h2>
		</div>

		<div id="collapsemanejo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item10" href="/linea-base/manejo_poda/" >Poda</a>
					<a class="list-group-item item11" href="/linea-base/manejo_sombra/" >Sombra</a>
					<a class="list-group-item item12" href="/linea-base/manejo_maleza/">Malezas</a>
					<a class="list-group-item item13" href="/linea-base/manejo_fertilidad/">Fertilidad</a>
					<a class="list-group-item item14" href="/linea-base/manejo_hongos/">Manejo de Enfermedades</a>
					<a class="list-group-item item15" href="/linea-base/manejo_insectos/">Manejo Insectos</a>
					<a class="list-group-item item16" href="/linea-base/manejo_nematodos/">Manejo Nematodos</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapseopcion" aria-expanded="true"
					aria-controls="collapseopcion">
					OPCION AGROECOLÓGICAS
				</a>
			</h2>
		</div>

		<div id="collapseopcion" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item17" href="/linea-base/agroecologicas/">
						Opcion agroecológicas
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsecosecha" aria-expanded="true"
					aria-controls="collapsecosecha">
					COSECHA
				</a>
			</h2>
		</div>

		<div id="collapsecosecha" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item18" href="/linea-base/cosecha/">
						Cosecha
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsecomercio" aria-expanded="true"
					aria-controls="collapsecomercio">
					COMERCIALIZACIÓN
				</a>
			</h2>
		</div>

		<div id="collapsecomercio" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item19" href="/linea-base/comercializacion/">
						Comercialización
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsecredito" aria-expanded="true"
					aria-controls="collapsecredito">
					CRÉDITO
				</a>
			</h2>
		</div>

		<div id="collapsecredito" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item20" href="/linea-base/credito/">
						Crédito
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsemitigacion" aria-expanded="true"
					aria-controls="collapsemitigacion">
					MITIGACIÓN
				</a>
			</h2>
		</div>

		<div id="collapsemitigacion" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item21" href="/linea-base/mitigacion/">
						Mitigación de los riesgos
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsecapacitacion" aria-expanded="true"
					aria-controls="collapsecapacitacion">
					CAPACITACIONES
				</a>
			</h2>
		</div>

		<div id="collapsecapacitacion" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item22" href="/linea-base/tecnicas/" >Capacitaciones técnicas</a>
					<a class="list-group-item item23" href="/linea-base/sociales/" >Capacitaciones temas sociales</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapseplantio" aria-expanded="true"
					aria-controls="collapseplantio">
					PLANTIOS DE CACAO
				</a>
			</h2>
		</div>

		<div id="collapseplantio" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item24" href="/linea-base/detalles_conteo_parcela/">Conteo Parcelas</a>
					<a class="list-group-item item25" href="/linea-base/detalles_area_parcela/" >Area de fincas</a>
					<a class="list-group-item item26" href="/linea-base/detalles_area_cacao/" >Area de cacao</a>
					<a class="list-group-item item27" href="/linea-base/detalles_produccion_cacao/" >Produccion cacao</a>
					<a class="list-group-item item28" href="/linea-base/detalles_productividad_cacao/" >Productividad cacao</a>
					<a class="list-group-item item29" href="/linea-base/detalles_edad_cacao/" >Edad plantas</a>
					<a class="list-group-item item30" href="/linea-base/detalles_variedad_cacao/" >Variedad</a>
					<a class="list-group-item item31" href="/linea-base/detalles_dispercion_cacao/" >Dispersion</a>
					{% if  request.user.is_authenticated%}
						<a class="list-group-item item32" href="/linea-base/detalles_tabla/" >Tabla</a>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

</div>