
<div class="accordion" id="accordionExample">
	<div class="card">
		<div class="card-header p-0" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsesombra" aria-expanded="true"
					aria-controls="collapsesombra">
					SOMBRA
				</a>
			</h2>
		</div>

		<div id="collapsesombra" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item1" href="/cuaderno-mes-nueve/sombra/riqueza-sombra/">
						Riqueza
					</a>

					<a class="list-group-item item2" href="/cuaderno-mes-nueve/sombra/densidad-sombra/">
						Densidad
					</a>

					<a class="list-group-item item3" href="/cuaderno-mes-nueve/sombra/dominancia-sombra/">
						Dominancia
					</a>

					<a class="list-group-item item4" href="/cuaderno-mes-nueve/sombra/dimensiones-sombra/">
						Dimensiones
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsepiso" aria-expanded="true"
					aria-controls="collapsepiso">
					PISO
				</a>
			</h2>
		</div>

		<div id="collapsepiso" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item5" href="/cuaderno-mes-seis/piso/composicion-piso/">
                        Composición
                    </a>

                    <a class="list-group-item item6" href="/cuaderno-mes-seis/piso/propuesta-piso/">
                       Propuesta
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsesuelo" aria-expanded="true"
					aria-controls="collapsesuelo">
					SUELO
				</a>
			</h2>
		</div>

		<div id="collapsesuelo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item7" href="/cuaderno-mes-tres/suelo/historial-suelo/">
						Historial
					</a>

					<a class="list-group-item item8" href="/cuaderno-mes-tres/suelo/pendiente-suelo/">
						Pendiente
					</a>

					<a class="list-group-item item9" href="/cuaderno-mes-tres/suelo/limitantes-suelo/">
						Limitante
					</a>

					<a class="list-group-item item10" href="/cuaderno-mes-tres/suelo/caracteristicas-suelo/">
						Tipo y textura
					</a>

					<a class="list-group-item item11" href="/cuaderno-mes-tres/suelo/fertilidad-suelo/">
						Manejo de fertilidad
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsesistema" aria-expanded="true"
					aria-controls="collapsesistema">
					SISTEMA
				</a>
			</h2>
		</div>

		<div id="collapsesistema" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item12" href="/cuaderno-mes-cero/sistema/parcela-sistema/">
						Tamaño de parcelas
					</a>

					<a class="list-group-item item13" href="/cuaderno-mes-cero/sistema/distribucion-sistema/">
						Distribución
					</a>

					<a class="list-group-item item14" href="/cuaderno-mes-cero/sistema/composicion-sistema/">
						Composición de las parcelas
					</a>

					<a class="list-group-item item15" href="/cuaderno-mes-cero/sistema/hoyos-sistema/">
						Caracteristica de hoyos
					</a>

					<a class="list-group-item item16" href="/cuaderno-mes-cero/sistema/riego-sistema/">
						Riego
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapseestablecimiento" aria-expanded="true"
					aria-controls="collapseestablecimiento">
					ESTABLECIMIENTO
				</a>
			</h2>
		</div>

		<div id="collapseestablecimiento" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item17" href="/cuaderno-mes-tres/esta/establecimientos-exito/">
						Éxito
					</a>

					<a class="list-group-item item18" href="/cuaderno-mes-tres/esta/establecimientos-crecimiento/">
						Crecimiento
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapseestado" aria-expanded="true"
					aria-controls="collapseestado">
					ESTADO DE PLANTAS
				</a>
			</h2>
		</div>

		<div id="collapseestado" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item19" href="/cuaderno-mes-seis/estado/estado-cacao/">
						Estado de planta cacao
					</a>

					<a class="list-group-item item20" href="/cuaderno-mes-seis/estado/estado-musaceas/">
						Estado de planta musaceas
					</a>

					<a class="list-group-item item21" href="/cuaderno-mes-seis/estado/estado-frutales/">
						Estado de planta frutales
					</a>

					<a class="list-group-item item22" href="/cuaderno-mes-seis/estado/estado-maderables/">
						Estado de planta maderables
					</a>

					<a class="list-group-item item23" href="/cuaderno-mes-seis/estado/estado-arboles/">
						Estado de planta Arboles de Servicios
					</a>

					<a class="list-group-item item24" href="/cuaderno-mes-seis/estado/estado-problemas/">
						Problemas principales del momento
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-0 collapsed" id="head_collapse">
			<h2 class="m-0">
				<a class="btn btn-link text-left pad-10" data-toggle="collapse" data-target="#collapsecosto" aria-expanded="true"
					aria-controls="collapsecosto">
					COSTOS Y COSECHA
				</a>
			</h2>
		</div>

		<div id="collapsecosto" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="">
				<ul class="list-group list-group-flush">
					<a class="list-group-item item25" href="/cuaderno-mes-tres/costo/cacao/">
						Costo del cacao
					</a>

					<a class="list-group-item item26" href="/cuaderno-mes-tres/costo/musaceas/">
						Costo de musaceas
					</a>

					<a class="list-group-item item27" href="/cuaderno-mes-tres/costo/frutales/">
						Costo de frutales
					</a>

					<a class="list-group-item item28" href="/cuaderno-mes-tres/costo/maderables/">
						Costo de maderables
					</a>

					<a class="list-group-item item29" href="/cuaderno-mes-tres/costo/arboles-servicios/">
						Costo de Arboles de Servicios
					</a>
				</ul>
			</div>
		</div>
	</div>
	

</div>