{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script type="text/javascript">
$("#collapseestablecimiento").addClass('show');
$(".item17").addClass('active');
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Éstablecimiento</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Éxito</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                            <div class="card-box">
                                <h4 class="header-title mb-20">Éxito de establecimiento CACAO</h4>
                                
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Clon/variedad</th>
                                                    <th>Cantidad sembrada</th>
                                                    <th>Cantidad establecida</th>
                                                    <th>% de Establecimiento</th>
                                                    <th>% Resiembra</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k, v in value.1.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.sembrada}}</td>
                                                        <td>{{v.establecida}}</td>
                                                        <td>{{v.establecida|calcular_frecuencia:v.sembrada}}</td>
                                                        <td>{{v.resiembra|calcular_frecuencia:v.establecida}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Éxito de establecimiento MUSACEAS</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Cantidad sembrada</th>
                                                    <th>Cantidad establecida</th>
                                                    <th>% de Establecimiento</th>
                                                    <th>% Resiembra</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in value.2.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.sembrada}}</td>
                                                        <td>{{v.establecida}}</td>
                                                        <td>{{v.establecida|calcular_frecuencia:v.sembrada}}</td>
                                                        <td>{{v.resiembra|calcular_frecuencia:v.establecida}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Éxito de establecimiento FRUTALES</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Especies</th>
                                                    <th>Cantidad sembrada</th>
                                                    <th>Cantidad establecida</th>
                                                    <th>% de Establecimiento</th>
                                                    <th>% Resiembra</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in value.3.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.sembrada}}</td>
                                                        <td>{{v.establecida}}</td>
                                                        <td>{{v.establecida|calcular_frecuencia:v.sembrada}}</td>
                                                        <td>{{v.resiembra|calcular_frecuencia:v.establecida}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Éxito de establecimiento MADERABLES</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Especies</th>
                                                    <th>Cantidad sembrada</th>
                                                    <th>Cantidad establecida</th>
                                                    <th>% de Establecimiento</th>
                                                    <th>% Resiembra</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in value.4.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.sembrada}}</td>
                                                        <td>{{v.establecida}}</td>
                                                        <td>{{v.establecida|calcular_frecuencia:v.sembrada}}</td>
                                                        <td>{{v.resiembra|calcular_frecuencia:v.establecida}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Éxito de establecimiento ARBOLES DE SERVICIOS</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Clon/variedad</th>
                                                    <th>Cantidad sembrada</th>
                                                    <th>Cantidad establecida</th>
                                                    <th>% de Establecimiento</th>
                                                    <th>% Resiembra</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k, v in value.5.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.sembrada}}</td>
                                                        <td>{{v.establecida}}</td>
                                                        <td>{{v.establecida|calcular_frecuencia:v.sembrada}}</td>
                                                        <td>{{v.resiembra|calcular_frecuencia:v.establecida}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                {% endfor %}
            
        </div>
        
    
    </div>
</div>
{% endblock content %}
