{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsesuelo").addClass('show');
$(".item11").addClass('active');
{% for value in years.values %}
$(function () {
    // Build the chart
    $('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Tipo de fertilización'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.1.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});

$(function () {
    // Build the chart
    $('#grafo2-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Modo de fertilización'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.2.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});

$(function () {
    // Build the chart
    $('#grafo3-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Intensidad de manejo de fertilización '
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.3.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
{% endfor %}
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Suelo</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Suelo tipo, modo y intensidad de fertilizació</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card-box">
                                        <div id="grafo1-{{forloop.counter}}" width='100%'></div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-box">
                                        <div id="grafo2-{{forloop.counter}}" width='100%'></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo3-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Tipo e intensidad de manejo de fertilización</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Intensidad</th>
                                                    <th>Frecuencia (en base de consultas de entradas)</th>
                                                    <th>% en base de fichas totales</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th rowspan="2">Orgánico</th>
                                                    <th>Intensivo</th>
                                                    <td>{{value.4}}</td>
                                                    <td>{{value.4|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Semi-intensivo</th>
                                                    <td>{{value.5}}</td>
                                                    <td>{{value.5|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2">Químico</th>
                                                    <th>Intensivo</th>
                                                    <td>{{value.6}}</td>
                                                    <td>{{value.6|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Semi-intensivo</th>
                                                    <td>{{value.7}}</td>
                                                    <td>{{value.7|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2">Químico-Orgánico</th>
                                                    <th>Intensivo</th>
                                                    <td>{{value.8}}</td>
                                                    <td>{{value.8|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Semi-intensivo</th>
                                                    <td>{{value.9}}</td>
                                                    <td>{{value.9|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ninguno</th>
                                                    <th></th>
                                                    <td>{{value.10}}</td>
                                                    <td>{{value.10|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Resumen de fertilizantes o abonos orgánicos aplicados al suelo</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Producto o formula</th>
                                                    <th>% utilizando</th>
                                                    <th>Monto de aplicación anual Máximo </th>
                                                    <th>Monto de aplicación anual Mínimo</th>
                                                    <th>Unidad</th>
                                                    <th>Número de aplicación anual Máximo </th>
                                                    <th>Número de aplicación anual Mínimo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for k,v in value.11.items%}
                                                <tr>
                                                    <td>{{k}}</td>
                                                    <td>{{v.0|calcular_frecuencia:value.0}}</td>
                                                    <td>{{v.1|floatformat:2}}</td>
                                                    <td>{{v.2|floatformat:2}}</td>
                                                    <td>Tm/ha</td>
                                                    <td>{{v.3|floatformat:2}}</td>
                                                    <td>{{v.4|floatformat:2}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Resumen de fertilizantes o abonos orgánicos aplicados al foliar</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Producto o formula</th>
                                                    <th>% utilizando</th>
                                                    <th>Monto de aplicación anual Máximo </th>
                                                    <th>Monto de aplicación anual Mínimo</th>
                                                    <th>Unidad</th>
                                                    <th>Número de aplicación anual Máximo </th>
                                                    <th>Número de aplicación anual Mínimo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for k,v in value.12.items%}
                                                <tr>
                                                    <td>{{k}}</td>
                                                    <td>{{v.0|calcular_frecuencia:value.0}}</td>
                                                    <td>{{v.1|floatformat:2}}</td>
                                                    <td>{{v.2|floatformat:2}}</td>
                                                    <td>Lt/ha</td>
                                                    <td>{{v.3|floatformat:2}}</td>
                                                    <td>{{v.4|floatformat:2}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
        </div>
        
    
    </div>
</div>

{% endblock content %}
