{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsesuelo").addClass('show');
$(".item9").addClass('active');
{% for value in years.values %}
$(function () {
    $('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo PH'
        },
        subtitle: {
            text: 'ph'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Ph'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'ph',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.10 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    $('#grafo2-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo Densidad Aparente'
        },
        subtitle: {
            text: 'densidad aparente'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'densidad aparente'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'densidad',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.11 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    $('#grafo3-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo Materia Organica (MO)'
        },
        subtitle: {
            text: 'materia organica (MO)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Materia Organica (MO)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'materia',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.12 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    $('#grafo4-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo Nitrógeno (N)'
        },
        subtitle: {
            text: 'nitrogeno (N)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'nitrogeno'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'nitrogeno',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.13 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    $('#grafo5-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo Fosforo (P)'
        },
        subtitle: {
            text: 'fosforo (P)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'fosforo (P)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'fosforo',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.14 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    $('#grafo6-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo Potasio (K)'
        },
        subtitle: {
            text: 'potasio (k)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'potasio (K)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'potasio',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.15 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    $('#grafo7-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo Azufre (S)'
        },
        subtitle: {
            text: 'azufre (s)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'azufre (S)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'azufre',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.16 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    $('#grafo8-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo Calcio (Ca)'
        },
        subtitle: {
            text: 'Calsio (ca)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'calcio (Ca)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'calcio',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.17 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    $('#grafo9-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Muestra de suelo Magnesio (Mg)'
        },
        subtitle: {
            text: 'magnesio (mg)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'magnesio (mg)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'magnesio',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in value.18 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});
{% endfor %}
</script>

{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Suelo</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Limintantes suelo</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                            <div class="card-box">
                                
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            
                                            <thead>
                                                <tr>
                                                    <th>Variable</th>
                                                    <th>Valor critico</th>
                                                    <th>Unidad</th>
                                                    <th>Indicadores de limitantes</th>
                                                    <th>% de muestras con limitantes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td>pH</td>
                                                        <td>5-6</td>
                                                        <td></td>
                                                        <td>Menos de 5</td>
                                                        <td>{{value.1|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Densidad Aparente</td>
                                                        <td>1.5</td>
                                                        <td>g/cm3</td>
                                                        <td>Más de 1.5</td>
                                                        <td>{{value.2|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Materia orgánica (MO)</td>
                                                        <td>2</td>
                                                        <td>%</td>
                                                        <td>Menos de 2</td>
                                                        <td>{{value.3|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Nitrógeno (N) </td>
                                                        <td>0.2</td>
                                                        <td>%</td>
                                                        <td>Menos de 0.2</td>
                                                        <td>{{value.4|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Fosforo (P)</td>
                                                        <td>10</td>
                                                        <td>ppm</td>
                                                        <td>Menos de 10</td>
                                                        <td>{{value.5|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Potasio (K)</td>
                                                        <td>0.5</td>
                                                        <td>meq/100g</td>
                                                        <td>Menos de 0.5</td>
                                                        <td>{{value.6|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Azufre (S)</td>
                                                        <td>12</td>
                                                        <td>ppm</td>
                                                        <td>Menos de 12</td>
                                                        <td>{{value.7|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Calcio (Ca)</td>
                                                        <td>5</td>
                                                        <td>meq/100g</td>
                                                        <td>Menos de 5</td>
                                                        <td>{{value.8|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Magnesio (Mg)</td>
                                                        <td>1.6</td>
                                                        <td>meq/100g</td>
                                                        <td>Menos de 1.6</td>
                                                        <td>{{value.9|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo1-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo2-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo3-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo4-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo5-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo6-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo7-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo8-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                
                                <div id="grafo9-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
        </div>
        
    
    </div>
</div>


{% endblock content %}
