{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>

<script type="text/javascript">
$("#collapsesistema").addClass('show');
$(".item16").addClass('active');
{% for value in years.values %}
Highcharts.chart('grafo1-{{forloop.counter}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Plan de riego '
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Rubro',
        colorByPoint: true,
        data: [
        {% for k,v  in value.1.items %}
            {
                name: '{{k}}',
                y: {{v}},
            },
        {% endfor %}
         ]
    }]
});

Highcharts.chart('grafo2-{{forloop.counter}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Tipo de riego'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Rubro',
        colorByPoint: true,
        data: [
        {% for k,v  in value.2.items %}
            {
                name: '{{k}}',
                y: {{v}},
            },
        {% endfor %}
         ]
    }]
});

Highcharts.chart('grafo3-{{forloop.counter}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Fuente de agua '
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Rubro',
        colorByPoint: true,
        data: [
        {% for k,v  in value.3.items %}
            {
                name: '{{k}}',
                y: {{v}},
            },
        {% endfor %}
         ]
    }]
});

Highcharts.chart('grafo4-{{forloop.counter}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Movimiento de agua '
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Rubro',
        colorByPoint: true,
        data: [
        {% for k,v  in value.4.items %}
            {
                name: '{{k}}',
                y: {{v}},
            },
        {% endfor %}
         ]
    }]
});
{% endfor %}
</script>

{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Sistema</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Riego y uso</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo1-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card-box mb-20">
                                <div id="grafo2-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card-box mb-20">
                                <div id="grafo3-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card-box mb-20">
                                <div id="grafo4-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <caption> </caption>
                                            {% comment %} <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead> {% endcomment %}
                                            <tbody>
                                                <tr>
                                                    <td>Plan de riego (meses)</td>
                                                    <td>{{value.5|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Frecuencia de riego (veces por semana)</td>
                                                    <td>{{value.6|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Uso de agua por riego en galones</td>
                                                    <td>{{value.7|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Uso promedio anual de agua por caso en m3</td>
                                                    <td>{{value.8|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Uso promedio anual de agua m3/ha</td>
                                                    <td>{{value.9|floatformat:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
        </div>
        
    
    </div>
</div>


{% endblock content %}
