{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script>
$("#collapsesuelo").addClass('show');
$(".item38").addClass('active');
</script>
{% endblock %}

{% block content %}
<div class="container-fluid" id="monitoreo_trans">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Suelo</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Balance nutrientes</h4>
                 
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "transformacion/menu_salidas.html" %}

        </div>
        <div class="col-md-10">
        	<ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                	<div class="row">
		                <div class="col-12">
		                    <ul class="list-inline mb-20">
		                        <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
		                    </ul>
		                </div>
		                <div class="col-12">
		                    <div class="card-box">
								<h4 class="header-title">Salidas</h4>
								<div class="table-responsive tabla-poda">
									<table class="table table-bordered table-striped">
										<thead>
										<tr>
											<th colspan="2"></th>
											<th colspan="6">Nutrientes Cosechas(lbs/mz/año)</th>
										</tr>
										<tr>
											<th>Producto (unidad)</th>
											<th>Cantidad</th>
											<th>N</th>
											<th>P</th>
											<th>K</th>
											<th>S</th>
											<th>Ca</th>
											<th>Mg</th>
										</tr>
										</thead>
										<tbody>
										{% for k, v in value.1.items %}
										<tr>
											<th>{{k}}</th>
											<th>{{v.0|floatformat:1}}</th>
											<td>{{v.1}}</td>
											<td>{{v.2}}</td>
											<th>{{v.3}}</th>
											<td>{{v.4}}</td>
											<td>{{v.5}}</td>
											<td>{{v.6}}</td>
										</tr>
										{% endfor %}
										<tr>
											<th>Total</th>
											<td></td>
											<td>{{total_n}}</td>
											<td>{{total_p}}</td>
											<td>{{total_k}}</td>
											<td>{{total_s}}</td>
											<td>{{total_ca}}</td>
											<td>{{total_mg}}</td>
										</tr>
										</tbody>
									</table>
								</div>
		                    </div>
		                </div>
		                <div class="col-12">
		                    <div class="card-box">
								<h4 class="header-title">Contenido de nutrientes</h4>
		                         <div class="table-responsive tabla-poda">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th></th>
												<th>N</th>
												<th>P</th>
												<th>K</th>
												<th>S</th>
												<th>Ca</th>
												<th>Mg</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Grano de Cacao (lb/qq seco)</td>
												<td>2</td>
												<td>0.4</td>
												<th>1</th>
												<td>0.14</td>
												<td>0.12</td>
												<td>0.34</td>
											</tr>
											<tr>
												<td>Cascara (lb /qq seco)</td>
												<td>1.5</td>
												<td>0.2</td>
												<th>5</th>
												<td>0.14</td>
												<td>0.43</td>
												<td>0.24</td>
											</tr>
											<tr>
												<td>Leña (lb/carga de 125lb)</td>
												<td>1.1</td>
												<td>1</td>
												<th>0.6</th>
												<td>0</td>
												<td>0</td>
												<td>0</td>
											</tr>
											<tr>
												<td>Cabezas de Banano (lb/Cabeza)</td>
												<td>0.068</td>
												<td>0.009</td>
												<th>0.234</th>
												<td>0</td>
												<td>0</td>
												<td>0</td>
											</tr>
										</tbody>
									</table>
								</div>                      
		                    </div>
		                </div>      

		            </div>
					<div class="row">
						<div class="col-12">
							<h4 class="header-title">Resultado de analisis de suelo</h4>
						</div>
						<div class="col-12">
		                    <div class="card-box">
								<h4 class="header-title"></h4>
		                        <div class="table-responsive tabla-poda">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
											<th>Nutrientes</th>
											<th>Valor</th>
											<th>Unidad</th>
											<th>Valor critico</th>
											</tr>
										</thead>
										<tbody>
											{% for k, v in value.2.items %}
											<tr>
											<td>{{k}}</td>
											<td>{{v.0}}</td>
											<td>{{v.1}}</td>
											<th>{{v.2}}</th>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<hr>
								<ul>
									<li>(Ca + Mg)/k <span class="badge">{{value.3}}</span></li>
									<li>Rango ideal entre 10-40</li>
								</ul>                       
		                    </div>
		                </div>
		                <div class="col-12">
		                    <div class="card-box">
								<h4 class="header-title">Cantidad de nutrientes disponibles</h4>
		                        <div class="table-responsive tabla-poda">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
											<th></th>
											<th>Disponible lbs/mz</th>
											<th>Estimacion Eficiencia lbs/mz (Ultisol/suelo rojo)</th>
											<th>Estimacion Eficiencia lbs/mz (Vertisoles)</th>
											<th>Estimacion Eficiencia lbs/mz (Andisoles o Volca.)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
											<td>N</td>
											<td>{{value.4|floatformat:2}}</td>
											<td>{{value.5|floatformat:2}}</td>
											<th>{{value.6|floatformat:2}}</th>
											<th>{{value.7|floatformat:2}}</th>
											</tr>
											<tr>
											<td>P</td>
											<td>{{value.8|floatformat:2}}</td>
											<td>{{value.9|floatformat:2}}</td>
											<th>{{value.10|floatformat:2}}</th>
											<th>{{value.11|floatformat:2}}</th>
											</tr>
											<tr>
											<td>K</td>
											<td>{{value.12|floatformat:2}}</td>
											<td>{{value.13|floatformat:2}}</td>
											<th>{{value.14|floatformat:2}}</th>
											<th>{{value.15|floatformat:2}}</th>
											</tr>
											<tr>
											<td>Ca</td>
											<td>{{value.16|floatformat:2}}</td>
											<td>{{value.17|floatformat:2}}</td>
											<th>{{value.18|floatformat:2}}</th>
											<th>{{value.19|floatformat:2}}</th>
											</tr>
											<tr>
											<td>Mg</td>
											<td>{{value.20|floatformat:2}}</td>
											<td>{{value.21|floatformat:2}}</td>
											<th>{{value.22|floatformat:2}}</th>
											<th>{{value.23|floatformat:2}}</th>
											</tr>
											<tr>
											<td>S</td>
											<td>{{value.24|floatformat:2}}</td>
											<td>{{value.25|floatformat:2}}</td>
											<th>{{value.26|floatformat:2}}</th>
											<th>{{value.27|floatformat:2}}</th>
											</tr>

										</tbody>
									</table>
								</div>                        
		                    </div>
		                </div>
					</div>
                </div>
                {% endfor %}
            

        </div>
    </div>
</div>
{% endblock %}
