{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsepiso").addClass('show');
$(".item5").addClass('active');
{% for value in years.values %}
var elems = document.getElementsByClassName('valorBadge{{forloop.counter}}');
var arr = jQuery.makeArray( elems );
var otro1 = arr.slice(0,6);
var sum1 = 0;
    for (var i = 0;i < otro1.length; i++) {
    sum1 += parseFloat(otro1[i].innerHTML, 10);
    }
document.getElementById('totalBadge1{{forloop.counter}}').innerHTML = sum1.toFixed(2);

var otro2 = arr.slice(6,10);
var sum2 = 0;
    for (var i = 0;i < otro2.length; i++) {
    sum2 += parseFloat(otro2[i].innerHTML, 10);
    }
document.getElementById('totalBadge2{{forloop.counter}}').innerHTML = sum2.toFixed(2);


var otro3 = arr.slice(-1);
var sum3 = parseFloat(otro3[0].innerHTML, 10);
document.getElementById('totalBadge3{{forloop.counter}}').innerHTML = sum3;

$(function () {
    // Create the chart
    $('#grafo2-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Composición'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Cobertura (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Daño',
            colorByPoint: true,
            data: [
            {% for k,v in value.1.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:value.2}},
                },
            {% endfor %}

            ]
        }]
    });
});
{% endfor %}
</script>
{% endblock extra_js %}

{% block content %}

<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Piso</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Orientación y composición del piso</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                            <div class="card-box">
                                <div class="table-responsive tabla-poda">
                                    <table class="table table-bordered table-striped">

                                        <thead>
                                            <tr>
                                                <th>Composición</th>
                                                <th>Conteo</th>
                                                <th>Porcentaje(%)</th>
                                                <th>Total (%)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for k,v in value.3.items %}
                                            <tr>
                                                <td>{{k}}</td>
                                                <td>{{v|default:0}}</td>
                                                <td class="valorBadge{{forloop.parentloop.counter}}">{{v|calcular_frecuencia:value.2}}</td>
                                                {% if forloop.first%}
                                                    <td class="totalBadge" rowspan="6"><div id="totalBadge1{{forloop.parentloop.counter}}"></div></td>
                                                {% elif forloop.counter == 7 %}
                                                        <td rowspan="4"><div id="totalBadge2{{forloop.parentloop.counter}}"></div></td>
                                                {% elif forloop.last %}
                                                    <td rowspan="0"><div id="totalBadge3{{forloop.parentloop.counter}}"></div></td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">

                                <div id="grafo2-{{forloop.counter}}" width='100%'></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            

        </div>


    </div>
</div>
{% endblock %}
