<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Herramienta desición</title>
    <link rel="shortcut icon" href="/static/general/img/logo.jpg" />
    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800" rel="stylesheet" type="text/css"><!-- Google web fonts -->
    <link href="/static/general/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- font-awesome -->
    <link href="/static/monitoreo/js/dropdown-menu/dropdown-menu.css" rel="stylesheet" type="text/css"><!-- dropdown-menu -->
    <link href="/static/general/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"><!-- Bootstrap -->
    <link href="/static/monitoreo/css/style.css" rel="stylesheet" type="text/css"><!-- theme styles -->

  </head>

  <body role="document" class="page">
<style type="text/css">
    .blanco{
        background: white;
        min-height: 491px;
    }
    .sub-fotter{
        font-size: 14px;
    }
</style>
    <!-- device test, don't remove. javascript needed! -->
    <span class="visible-xs"></span><span class="visible-sm"></span><span class="visible-md"></span><span class="visible-lg"></span>
    <!-- device test end -->

    <div id="k-head" class="container"><!-- container + head wrapper -->
    {% include "menuprincipal.html" %}
        <div class="row"><!-- row -->

            <div class="col-lg-12">

                <div id="k-site-logo" class="pull-left"><!-- site logo -->

                    <h1 class="k-logo">
                        <a href="/herramienta/" title="Home Page">
                            <img src="/static/general/img/logo.png" alt="Site Logo" class="img-responsive" />
                        </a>
                    </h1>

                    <a id="mobile-nav-switch" href="#drop-down-left"><span class="alter-menu-icon"></span></a><!-- alternative menu button -->

                </div><!-- site logo end -->

                <nav id="k-menu" class="k-main-navig "><!-- main navig -->

                    <ul id="drop-down-left" class="k-dropdown-menu monitoreo-menu">

                        <li>
                            <a href="/herramienta/consulta/" title="Cosultar Datos">Consulta</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="/admin/herramientaDesiciones/" class="Pages Collection" title="ir al admin">Administración</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/admin/" class="Pages Collection" title="Entrar">Inicio de Sesión</a>
                        </li>
                        {% endif %}

                    </ul>

                </nav><!-- main navig end -->

            </div>

        </div><!-- row end -->

    </div><!-- container + head wrapper end -->

    <div id="k-body"><!-- content wrapper -->

        <div class="container"><!-- container -->
        <br>
            {% block contenido %}

            {% endblock contenido %}

        </div><!-- container end -->

    </div><!-- content wrapper end -->

        <div id="k-footer"><!-- footer -->

        <div class="container"><!-- container -->

            <div class="row no-gutter"><!-- row -->

                <div class="col-lg-4 col-md-4 blanco"><!-- widgets column left -->

                    <div class="col-padded col-naked">

                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                            <li class="widget-container widget_nav_menu"><!-- widgets list -->

                                <h1 class="title-widget">Links de interes</h1>

                                <ul>
                                     <li><a href="https://www.solidaridadnetwork.org/" title="menu item">Solidaridad</a></li>
                                    <li><a href="http://alianza-cac.net/cacao/" title="menu item">Guias de cacao</a></li>
                                </ul>

                            </li>

                        </ul>

                    </div>

                </div><!-- widgets column left end -->

                <div class="col-lg-4 col-md-4 blanco"><!-- widgets column center -->

                    <div class="col-consulta col-naked">

                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                            <li class="widget-container widget_recent_news"><!-- widgets list -->

                                <h1 class="title-widget">Contáctenos</h1>
                            <div class="f-tamano" itemscope itemtype="http://ciat.cgiar.org">

                                    <h2 class="title-median m-contact-subject" itemprop="name">Solidaridad Network</h2>
                                    <p class="sub-fotter">International Secretariat</p>
                                    <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                        <span class="m-contact-street" itemprop="street-address">'t Goylaan 15, 3525 AA</span>
                                        <span class="m-contact-city-region"><span class="m-contact-city" itemprop="locality">Utrecht</span>, <span class="m-contact-region" itemprop="region">The Netherlands</span></span>

                                    </div>

                                    <div class="m-contact-tel-fax">
                                        <span class="m-contact-tel">Tel: <span itemprop="tel"> +31 (0)30 275 9450</span></span>

                                        <span itemprop="fax"> info@solidaridadnetwork.org</span>

                                    </div>

                                </div>

                                <div class="social-icons">

                                    <ul class="list-unstyled list-inline">
                                     <li><a href="https://www.youtube.com/channel/UC4Osga7scfmiBEpnVeF98zA" title="Contact us"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="https://www.twitter.com/solidaridadnetw" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/solidaridadnetwork" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="https://www.linkedin.com/company/solidaridad" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>

                                    </ul>

                                </div>

                            </li>

                        </ul>

                    </div>

                </div><!-- widgets column center end -->

                <div class="col-lg-4 col-md-4 blanco"><!-- widgets column center -->
                <div class="col-padded col-naked">

                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                            <li class="widget-container widget_nav_menu"><!-- widgets list -->

                                <h1 class="title-widget">REGIONAL EXPERTISE CENTRES</h1>
                                <div class="f-tamano" itemscope itemtype="http://ciat.cgiar.org">
                                    <ul>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/europe" title="menu item">Solidaridad in Europe</a></li>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/north-america" title="menu item">Solidaridad North America</a></li>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/central-america" title="menu item">Solidaridad Central America</a></li>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/south-america" title="menu item">Solidaridad South America</a></li>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/west-africa" title="menu item">Solidaridad West Africa</a></li>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/east-central-africa" title="menu item">Solidaridad East & Central Africa</a></li>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/southern-africa" title="menu item">Solidaridad Southern Africa</a></li>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/south-south-east-asia" title="menu item">Solidaridad South & South-East Asia</a></li>
                                        <li><a href="https://www.solidaridadnetwork.org/regions/china" title="menu item">Solidaridad China</a></li>
                                    </ul>
                                </div>

                            </li>

                        </ul>

                    </div>

                </div><!-- widgets column center end -->

            </div><!-- row end -->

        </div><!-- container end -->

    </div><!-- footer end -->

    <div id="k-subfooter"><!-- subfooter -->

        <div class="container"><!-- container -->

            <div class="row"><!-- row -->

                <div class="col-lg-12">

                    <p class="copy-text text-inverse">
                    &copy; 2018 Elaborado con el Framework <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
                    </p>

                </div>

            </div><!-- row end -->

        </div><!-- container end -->

    </div><!-- subfooter end -->

    <!-- jQuery -->
    <script src="/static/general/js/jQuery/jquery-2.1.1.min.js"></script>
    <script src="/static/general/js/jQuery/jquery-migrate-1.2.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/general/bootstrap/js/bootstrap.min.js"></script>

    <!-- Drop-down -->
    <script src="/static/monitoreo/js/dropdown-menu/dropdown-menu.js"></script>
    <script src="/static/monitoreo/js/theme.js"></script>

    {%block extra_js%}{%endblock%}

  </body>
</html>
