{% extends "herramientaDesicion/baseherramienta.html" %}

{% load staticfiles%}

{%block extra_js%}
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script> -->

<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>

<script src="/static/monitoreo/js/jquery.multiselect.min.js" type="text/javascript"></script>
<script src="/static/monitoreo/js/jquery.multiselect.filter.js" type="text/javascript"></script>
<link href="/static/monitoreo/css/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
$(function() {
  $("#id_productor").autocomplete({
    source: "/herramienta/api/productor/",
    minLength: 2,
  });
});

    $('.botonera').slideDown('slow');

$(document).ready(function(){

        $("#id_fecha").multiselect({
            noneSelectedText: 'Seleccione elementos',
            selectedText: '# seleccionados',
            checkAllText: 'Todos',
            uncheckAllText: 'Quitar seleccion',
            minWidth: 200,
            beforeclose: function(event, ui){
                var selectos = $("#id_fecha").multiselect("getChecked").map(function(){
                    return this.value;
                }).get();

            }
        });
});
</script>
{% endblock %}
{% block contenido %}

 <div class="row no-gutter"><!-- row -->

                <div id="k-sidebar" class="col-lg-12 col-md-12"><!-- sidebar wrapper -->

                    <div class="col-consulta col-shaded"><!-- inner custom column -->

                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                            <li class="widget-container "><!-- widget -->

                                <h1 class="title-monitoreo">Consulta: Linea Base</h1>

                                <hr>
                                <br><br>
                                {%if centinela == 1 %}
                                {% include "herramientaDesicion/menu.html" %}
                                {%endif%}
                            <div class=" row consulta-monitoreo">
                            <form action="." method="POST">{% csrf_token %}

                               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                                    <div class="form-group col-lg-12">
                                        <label >Fecha</label>
                                        <br>
                                        {{form.fecha}}
                                    </div>
                                     {% if request.user.is_authenticated %}
                                            <div class="form-group col-lg-12">
                                                <label >Entrevistado</label>
                                                <br>
                                                {{form.productor}}
                                            </div>
                                     {% endif %}

                               </div>


                               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group col-lg-12">
                                        <label >Departamento</label>
                                        <br>
                                       {{form.departamento}}
                                    </div>

                                    <hr>

                                    <div class="form-group col-lg-12">
                                        <label >Organización </label>
                                        <br>
                                        {{form.organizacion}}
                                    </div>
                                        <hr>


                                    <div class="form-group col-lg-12">
                                        <label >Municipio</label>
                                        <br>
                                        {{form.municipio}}
                                    </div>

                                    <hr>

                                    <div class="form-group col-lg-12">
                                        <label >Comunidad</label>
                                        <br>
                                        {{form.comunidad}}
                                    </div>

                                </div>

                               <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">

                                    <div class="form-group col-lg-12">
                                        <label >sexo</label>
                                        <br>
                                        {{form.sexo}}
                                    </div>
                                        <hr>
                               </div>
                               <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                               <br><br><br><br>
                               <input type="submit" value="Consultar" id="boton" class="btn btn-success center-block"/>

                               </div>
                               </form>
                            </div>
                            <hr>



                            </li>


                        </ul><!-- widgets end -->

                    </div><!-- inner custom column end -->

                </div><!-- sidebar wrapper end -->

</div><!-- row end -->

{% endblock %}
