{% extends "base.html" %}

{% load static %}

{%block extra_js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src = "http://code.highcharts.com/modules/exporting.js"> </script>
<script type="text/javascript">
$("#collapseplantio").addClass('show');
$(".item31").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>

<script type="text/javascript">
var chart;
{% for k,v in data.items %}
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container-{{k}}',
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
      },
      title: {
         text: 'Grafico área - productividad'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Areas (Ha)'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Productividad (kg/ha)'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +' Ha, '+ this.y +'Kg';
         }
      },

      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [
      {
         name: 'cacao',
         color: 'rgba(11, 28, 188, .5)',
         data: {{v.0}}
      },

      ]
   });
{% endfor %}

{% for k,v in data.items %}
 chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container1-{{k}}',
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
      },
      title: {
         text: 'Grafico productividad -  monilia'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: '% nivel monilia'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Productividad (kg/ha)'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +'%, '+ this.y +'Kg';
         }
      },

      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [
      {
         name: 'cacao',
         color: 'rgba(11, 28, 188, .5)',
         data: {{v.1}}
      },

      ]
   });
{% endfor %}

{% for k,v in data.items %}
 chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container2-{{k}}',
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
      },
      title: {
         text: 'Grafico productividad -  sombra'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: '% nivel sombra'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Productividad (kg/ha)'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +'%, '+ this.y +'Kg';
         }
      },

      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [
      {
         name: 'cacao',
         color: 'rgba(11, 28, 188, .5)',
         data: {{v.2}}
      },

      ]
   });
{% endfor %}

{% for k,v in dispercion_fertilidad.items %}
 chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container3-{{k}}',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Productividad vs fertilidad'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Productividad (kg/ha)'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y + 'Kg';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value|floatformat:2}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y;
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}

{% for k,v in dispercion_fungicida.items %}
chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container4-{{k}}',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Productividad vs fungicidas'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Productividad (kg/ha)'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y + 'Kg';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value|floatformat:2}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y;
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}

{% for k,v in data.items %}
chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container5-{{k}}',
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
      },
      title: {
         text: 'Grafico productividad -  edad'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'edad plantillos años'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Productividad (kg/ha)'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +', '+ this.y +'Kg';
         }
      },

      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [
      {
         name: 'cacao',
         color: 'rgba(11, 28, 188, .5)',
         data: {{v.3}}
      },

      ]
   });
{% endfor %}

{% for k,v in dispercion_fungicida_lista.items %}
Highcharts.chart('container6-{{k}}', {
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'Productividad - tipos fungicidas'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Areas (ha)'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: 'Productividad (kg/ha)'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
        borderWidth: 1
    },
    plotOptions: {
        scatter: {
            marker: {
                radius: 5,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x} ha, {point.y} kg'
            }
        }
    },
    series: [
    {% for key, value in v.items %}
    {
        name: '{{key}}',
        data: {{value}}
    },
    {% endfor %}
    ]
});
{% endfor %}

{% for k,v in dispercion_fertilidad_lista.items %}
Highcharts.chart('container7-{{k}}', {
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'Productividad - tipos de fertilidad'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Areas (ha)'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: 'Productividad (kg/ha)'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'center',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
        borderWidth: 1
    },
    plotOptions: {
        scatter: {
            marker: {
                radius: 5,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x} ha, {point.y} kg'
            }
        }
    },
    series: [
    {% for key, value in v.items %}
    {
        name: '{{key}}',
        data: {{value}}
    },
    {% endfor %}
    ]
});
{% endfor %}
</script>
{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Detalles</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Disperción de cacao</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              {% for year in years %}
                  <li class="nav-item">
                      <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                  </li>
              {% endfor %}
              </ul>
              <div class="tab-content" id="myTabContent">
                  {% for year in years %}
                      <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
                        {% for k,v in num_familias2.items %}
                                {% if k == year %}
                                    Familias: {{v}}
                                {% endif %}
                            {% endfor %}

                    {% for k in data.keys %}
                      {% if k == year %}
                        <div class="row">
                <div class="col-6">
                    <div class="card-box">
                        <div id="container-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container1-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container2-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container5-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container4-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container3-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container6-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container7-{{k}}"></div>
                    </div>
                </div>
            </div>
                      {% endif %}
                    {% endfor %}

                      </div>
                  {% endfor %}
              </div>

        </div>
    </div>
</div>


{% endblock %}

