{% extends "base.html" %}

{% load static %}

{%block extra_js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src = "http://code.highcharts.com/modules/exporting.js"> </script>
<script type="text/javascript">
$("#collapseplantio").addClass('show');
$(".item32").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>
<script type="text/javascript" language="javascript" class="init">

        $(document).ready(function() {
            $('#example').dataTable( {
                "language": {
                    "search": "Buscar:"
                },
                "paging":   false,
                "ordering": false,
                "info":     false
            } );
        } );

    </script>
{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Detalles</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Tabla</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Detalles de algunos plantíos de cacao (en base de visita de campo)</h4>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table id="example" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre Productor</th>
                                            <th>Nombre de plantío</th>
                                            <th>Area en Ha</th>
                                            <th>Tipo de plantas</th>
                                            <th>Edad en años</th>
                                            {# <th>Variedades Predominante</th> #}
                                            <th>Producción en último año Kg</th>
                                            <th>Productividad</th>
                                            <th>Nivel de Monilia año pasado basado en % mazorcas afectadas</th>
                                            <th>Tipo de Sombra</th>
                                            <th>Nivel de sombra %</th>
                                            <th>Tipo de fertilización</th>
                                            <th>Tipo de fungicidas</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for v in tabla_detalles%}
                                        <tr>
                                            <td>{{v.0}}</td>
                                            <td>{{v.1}}</td>
                                            <td>{{v.2|floatformat:2}}</td>
                                            <td>{{v.3}}</td>
                                            <td>{{v.4}}</td>
                                            <td>{{v.5|floatformat:2}}</td>
                                            <td>{{v.6|floatformat:2}}</td>
                                            <td>{{v.7}}</td>
                                            <td>{{v.8}}</td>
                                            <td>{{v.9}}</td>
                                            <td>{{v.10}}</td>
                                            <td>{{v.11}}</td>

                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}

