{% extends "base.html" %}

{% load static tools %}

{%block extra_js%}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"> </script>

<script type="text/javascript">
$("#collapsefamilia").addClass('show');
$(".item1").addClass('active');

    var flag = true;
    $(document).ready(function () {
        $('#mas').click(function () {
            if (flag == true) {
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            } else if (flag == false) {
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
        });
    });
</script>
{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="active">Familias</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Organizacion</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}

                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for year in years %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                </li>
            {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
            {% for year in years %}
            <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
                  {% for k,v in num_familias2.items %}
                      {% if k == year %}
                        Familias: {{v}}
                      {% endif %}
                  {% endfor %}
            {% for k,v in  tabla_socio.items %}
            {% if k == year %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Es socio/socia de una organización gremial</h4>
                        <div class="subindicador"><a class="exportar guardarXLS" href="#"
                            onclick="exportarXLS('modalidad'); return false;"></a>
                            {% if request.user.is_authenticated %}
                            <a class="exportar2" href="/exportar/1/">Descargar</a>
                            {%endif%}
                        </div>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table class="table  table-striped">
                                    <thead>
                                        <tr>
                                            <th>Opciones</th>
                                            <th>Conteo</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key,valor in v.items%}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{valor.0}}</td>
                                            <td>{{valor.0|calcular_frecuencia:valor.1}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {% endif %}
            {% endfor %}
            {% for k, v in tabla_desde.items %}
            {% if k == year %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Desde cuando</h4>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Opciones</th>
                                            <th>Conteo</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key,valor in v.items%}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{valor.0}}</td>
                                            <td>{{valor.0|calcular_frecuencia:valor.1}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% for k,v in tabla_organizaciones.items %}
            {% if k == year %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Nombres de las organizaciones</h4>
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Orgánizaciones</th>
                                            <th>Productores que pertenecen a la organización</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for valor in v%}
                                        <tr>
                                            <td>{{valor.0}}</td>
                                            <td>{{valor.1}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            </div>
            {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
