<li class="nav-item"><a  class="nav-link" href="/linea-base/tierra/" class="educacion">Uso de tierra</a></li>
<li class="nav-item"><a  class="nav-link" href="/linea-base/rubros/" class="salud">Rubros en la finca</a></li>
