<li class="nav-item"><a class="nav-link" href="/linea-base/detalles_conteo_parcela/">Conteo Parcelas</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/detalles_area_parcela/" >Area de fincas</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/detalles_area_cacao/" >Area de cacao</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/detalles_produccion_cacao/" >Produccion cacao</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/detalles_productividad_cacao/" >Productividad cacao</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/detalles_edad_cacao/" >Edad plantas</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/detalles_variedad_cacao/" >Variedad</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/detalles_dispercion_cacao/" >Dispersion</a></li>
{% if  request.user.is_authenticated%}
     <li class="nav-item"><a class="nav-link" href="/linea-base/detalles_tabla/" >Tabla</a></li>
{% endif %}
