<li class="nav-item"><a class="nav-link" href="/linea-base/tecnicas/" >Capasitaciones técnicas</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/sociales/" >Capasitaciones temas sociales</a></li>

