<li class="nav-item"><a class="nav-link" href="/linea-base/manejo_poda/" >Poda</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/manejo_sombra/" >Sombra</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/manejo_maleza/">Malezas</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/manejo_fertilidad/">Fertilidad</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/manejo_hongos/">Manejo de Enfermedades</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/manejo_insectos/">Manejo Insectos</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/manejo_nematodos/">Manejo Nematodos</a></li>

