{% extends "base.html" %}

{% load static tools %}

{%block extra_js%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src = "http://code.highcharts.com/modules/exporting.js"> </script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
$("#collapseopcion").addClass('show');
$(".item17").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>
<script type="text/javascript" language="javascript" class="init">

        $(document).ready(function() {
            $('#example').dataTable( {
                 "language": {
                    "search": "Buscar:"
                },
                "paging":   false,
                "ordering": true,
                "info":     false
            } );
        } );

    </script>

{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="active">Opciones agroecológicas</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Opciones agroecológicas</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}

                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    {% for year in years %}
                        <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
                            {% for k,v in num_familias2.items %}
                                {% if k == year %}
                                    Familias: {{v}}
                                {% endif %}
                            {% endfor %}

                    {% for k,v in tabla_opcion_agro.items %}
                        {% if k == year %}
                            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Uso de opciones agroecológicas en los cacaotales</h4>
                        <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/1/"></a>{%endif%} </div>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table id="example" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Opciones</th>
                                            <th>No utiliza</th>
                                            <th>En pequeño escala</th>
                                            <th>En mayor escala</th>
                                            <th>En toda la finca</th>
                                            <th>color</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key,value in v.items|dictsort:0 %}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value.0}}</td>
                                            <td>{{value.1}}</td>
                                            <td>{{value.2}}</td>
                                            <td>{{value.3}}</td>
                                            <td>
                                                {% if value.4 <= 20 %}
                                                    <span class="badge badge-pill badge-danger">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                {% elif value.4 >= 21 and value.4 <= 49 %}
                                                    <span class="badge badge-pill badge-warning">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-success">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                {% endif %}
                                            {{value.4|floatformat:1}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        {% endif %}
                    {% endfor %}


                        </div>
                    {% endfor %}
                </div>

        </div>
    </div>
</div>

{% endblock %}

