{% extends "base.html" %}

{% load static tools %}

{%block extra_js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src = "http://code.highcharts.com/modules/exporting.js"> </script>
<script type="text/javascript">
$("#collapsefamilia").addClass('show');
$(".item4").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>

<script type="text/javascript">

{% for k,v in tabla_tenencia.items %}
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container-{{k}}',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Tipo de tenencia de parcela'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteo'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
{% endfor %}

{% for k,v in tabla_documento_legal.items  %}
var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container1-{{k}}',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Documento legal de la finca, a nombre de quién'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteo'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
{% endfor %}
</script>

{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="active">Familias</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Tenecia de la tierra</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}

                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for year in years %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                </li>
            {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for year in years %}
                    <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
                    {% for k,v in num_familias2.items %}
                        {% if k == year %}
                            Familias: {{v}}
                        {% endif %}
                    {% endfor %}

            {% for k,v in  tabla_tenencia.items %}
                {% if k == year %}
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div id="container-{{k}}"></div>
                        </div>
                    </div>
                </div>
                {%endif%}
            {%endfor%}

            {% for k,v in  tabla_documento_legal.items %}
                {% if k == year %}
                 <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div id="container1-{{k}}"></div>
                        </div>
                    </div>
                </div>
            {%endif%}
            {%endfor%}

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}

