{% extends "base.html" %}

{% load static tools %}

{%block extra_js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src = "http://code.highcharts.com/modules/exporting.js"> </script>
<script type="text/javascript">
$("#collapsetierra").addClass('show');
$(".item6").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>

<script type="text/javascript">

{% for k,v in tabla_uso_tierra.items %}
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container-{{k}}',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Uso de Tierra'
            },
            subtitle: {
                text: 'total en (Ha)'
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteo'
                }
            },

            tooltip: {
                formatter: function() {
                    return ' '+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.2|default:0|floatformat:1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.3|default:0|floatformat:1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
{% endfor %}

// Create the chart
{% for k, v in cobertura_arboles.items %}
Highcharts.chart('container2-{{k}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Índices ambientales'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: ''
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.2f}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> <br/>'
    },

    "series": [
        {
            "name": "",
            "colorByPoint": true,
            "data": [
                {
                    "name": "Cobertura de árboles",
                {% for key,value in  cobertura_arboles.items%}
                    {% if key == k %}
                    "y": {{value}},
                   {%endif%}
                {%endfor%}
                },
                {
                    "name": "Índice de biodiversidad",
                    {% for key,value in  biodiversidad.items%}
                    {% if key == k %}
                    "y": {{value}},
                   {%endif%}
                {%endfor%}
                },
                {
                    "name": "Índice de captura de carbono",
                {% for key,value in  carbono.items%}
                    {% if key == k %}
                    "y": {{value}},
                   {%endif%}
                {%endfor%}
                },
                {
                    "name": "Índice de estado de vida de suelo",
                {% for key,value in  indice_suelo.items%}
                    {% if key == k %}
                    "y": {{value}},
                   {%endif%}
                {%endfor%}
                },
            ]
        }
    ],
});
{% endfor %}
</script>
{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="active" >Tierra</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Uso tierra</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}

                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for year in years %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                </li>
            {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for year in years %}
                    <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
                       {% for k,v in num_familias2.items %}
                            {% if k == year %}
                                Familias: {{v}}
                            {% endif %}
                        {% endfor %}

            {% for k in tabla_uso_tierra.keys %}
                {% if k == year %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="grafico-title"></div>
                        <div id="container-{{k}}"></div>
                    </div>
                </div>
            </div>
            {%endif%}
                {% endfor %}

            {% for k,v in tabla_uso_tierra.items %}
                {% if k == year %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Uso de la tierra</h4>
                        <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/1/"></a>{%endif%} </div>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table id="example" class="table table-striped" >
                                    <thead>
                                        <tr>
                                            <th>Uso de tierra</th>
                                            <th>Conteo</th>
                                            <th>%</th>
                                            <th>Total en Ha</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key,value in v.items%}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value.0|floatformat:1|default:0}}</td>
                                            <td>{{value.1|floatformat:1|default:0}}</td>
                                            <td>{{value.2|floatformat:1|default:0}}</td>
                                            <td>{{value.3|floatformat:1|default:0}}</td>
                                        </tr>
                                        {%endfor%}
                                         <tr>
                                            <td>Total</td>
                                            <td></td>
                                            <td></td>
                                            {% for k,v in totales.items %}
                                            {% if k == year %}
                                                <td>{{v|floatformat:2}}</td>
                                            {% endif %}
                                             {% endfor %}
                                            <td>100 %</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul>
                        {% for k,v in promedio_ha.items %}
                        {% if k == year %}
                            <li><strong>Promedio en Ha: </strong><kbd>{{v|floatformat:2}}</kbd></li>
                        {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {%endif%}
                {% endfor %}

        {% for k,v in rangos_conteos.items %}
        {% if k == year %}
        <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Tierra (ha)</h4>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table id="example" class="table table-striped" >
                                    <thead>
                                        <tr>
                                        <th>Rangos</th>
                                            <th>Frecuencias</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key,value  in v.items|dictsort:0 %}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value}}</td>
                                            {% for a,b in rangos_totales.items %}
                                                {% if a == year %}
                                                     <td>{{value|calcular_frecuencia:b}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>Total</td>
                                            {% for a,b in rangos_totales.items %}
                                                {% if a == year %}
                                                      <th>{{b}}</th>
                                                {% endif %}
                                            {% endfor %}
                                            <th>100 %</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Indices ambientales</h4>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table id="example" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Valor</th>
                                            <th>Rango</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cobertura de árboles</td>
                                            {% for k,v in  cobertura_arboles.items%}
                                                {% if k == year %}
                                                     <td>{{v|floatformat:2}}</td>
                                                {% endif %}
                                            {% endfor %}
                                            <td>0 - 1</td>
                                        </tr>
                                        <tr>
                                            <td>Índice de biodiversidad</td>
                                            {% for k,v in  biodiversidad.items%}
                                                {% if k == year %}
                                                     <td>{{v|floatformat:2}}</td>
                                                {% endif %}
                                            {% endfor %}
                                            <td>0 - 1</td>
                                        </tr>
                                        <tr>
                                            <td>Indice de captura de carbono</td>
                                            {% for k,v in  carbono.items%}
                                                {% if k == year %}
                                                     <td>{{v|floatformat:2}}</td>
                                                {% endif %}
                                            {% endfor %}
                                            <td>0 - 1</td>
                                        </tr>
                                        <tr>
                                            <td>Índice de estado de vida de suelo</td>
                                            {% for k,v in  indice_suelo.items%}
                                                {% if k == year %}
                                                     <td>{{v|floatformat:2}}</td>
                                                {% endif %}
                                            {% endfor %}
                                            <td>0 - 1</td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% for k  in cobertura_arboles.keys %}
                            {% if k == year %}
                                <div id="container2-{{k}}"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="contenedor mt-10">

                            <samp><strong>Cobertura de árboles =</strong> (Bosque primario* 1 + Bosque secundario* 0.5 + Cultivos anuales * 0 + Plantacion forestal *0.8 + Area de pastos abiertos * 0 + Area de pastos con árboles * 0.3 + Cultivos perennes * 0.4)/Area Total)</samp>
                            <br><br>
                            <samp><strong>Índice de biodiversidad =</strong> (Bosque primario* 0.9 + Bosque secundario* 0.6 + Plantación forestal *0.6+Cultivos anuales * 0 + Area de pastos abiertos * 0.2 + Area de pastos con arboles * 0.4 + Cultivos perennes * 0.6)/Area Total</samp>
                            <br><br>
                            <samp><strong>Índice de Captura de Carbono =</strong> (Bosque primario* 1 + Bosque secundario* 0.8 + Cultivos anuales * 0 + Plantación forestal*0.7 + Area de pastos abiertos * 0.4 + Area de pastos con árboles * 0.7 + Cultivos perennes * 0.7)/Area Total</samp>
                            <br><br>
                            <samp><strong>Índice de estado de suelo =</strong> (Bosque primario* 1 + Bosque secundario* 1 + Cultivos anuales * 0.2 + Plantación forestal* 0.9 + Area con pastos abiertos * 0.4 + Area con pastos con árboles * 0.6 + Cultivos perennes * 0.9)/Area Total</samp>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

